<div class="grid grid-cols-1 gap-4 lg:grid-cols-6">
  <% bento_box_stats_2024(@yearly_brew).each_with_index do |(box, content), index| %>
    <% position = bento_box_position_classes_2024(index) %>
    <div class="relative <%= position[:col_span] %>">
      <div class="absolute inset-px rounded-lg bg-white dark:bg-neutral-900 <%= position[:rounded_corners] %>"></div>
      <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(theme(borderRadius.lg)+1px)] <%= position[:rounded_corners].gsub(/(\[|\])/, '\\\1') %>">
        <div class="px-8 pt-8 pb-8 sm:px-10 sm:py-10">
          <h3 class="font-semibold text-base/7 text-terracotta-600 dark:text-terracotta-500"><%= content[:title] %></h3>
          <p class="mt-2 text-lg font-medium tracking-tight text-neutral-900 dark:text-neutral-100">
            <% if box == :weekly_rhythm %>
              <div id="weekly-rhythm-chart" class="h-48" data-controller="weekly-rhythm-chart" data-chart-data="<%= content[:stat] %>"></div>
            <% elsif box == :monthly_enjoyment %>
              <div id="monthly-enjoyment-chart" class="h-48" data-controller="monthly-enjoyment-chart" data-chart-data="<%= content[:stat] %>"></div>
            <% elsif box == :best_rated_coffee %>
              <%= content[:stat].bean_brand %> <%= content[:stat].bean_type %>
            <% else %>
              <%= content[:stat] %>
            <% end %>
          </p>
          <p class="max-w-lg mt-2 text-neutral-600 dark:text-neutral-400 text-sm/6">
            <% if box == :best_rated_coffee %>
              A true gem that stood out among all brews.
              Made <%= pluralize(@yearly_brew.best_rated_coffee.shots_count, "shot") %> with an enjoyment score of <%= @yearly_brew.best_rated_coffee.espresso_enjoyment %>.
            <% else %>
              <%= content[:description] %>
            <% end %>
          </p>
        </div>
      </div>
      <div class="pointer-events-none absolute inset-px rounded-lg shadow ring-1 ring-black/5 dark:ring-white/10 <%= position[:rounded_corners] %>"></div>
    </div>
  <% end %>
</div>
