<% if stat.present? && !(stat.is_a?(Numeric) && stat <= 0) %>
  <div class="relative p-4 overflow-hidden bg-white rounded-lg shadow">
    <dt>
      <div class="absolute p-3 rounded-md bg-terracotta-500">
        <svg class="w-6 h-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
        </svg>
      </div>
      <p class="ml-16 text-sm font-medium truncate text-neutral-500">
        <%= title %>
      </p>
    </dt>
    <dd class="flex items-baseline ml-16 <%= defined?(diff) && !diff.respond_to?(:positive?) ? " flex-col" : "" %>">
      <p class="text-2xl font-semibold text-neutral-900">
        <%= stat %>
      </p>
      <% if defined?(diff) %>
        <% if diff.respond_to?(:positive?) %>
          <% if diff.positive? %>
            <p class="flex items-baseline ml-2 text-sm font-semibold text-green-600">
              <svg class="self-center flex-shrink-0 w-5 h-5 text-green-500" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 17a.75.75 0 01-.75-.75V5.612L5.29 9.77a.75.75 0 01-1.08-1.04l5.25-5.5a.75.75 0 011.08 0l5.25 5.5a.75.75 0 11-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0110 17z" clip-rule="evenodd" />
              </svg>
              <%= diff %>
            </p>
          <% elsif diff.negative? %>
            <p class="flex items-baseline ml-2 text-sm font-semibold text-red-600">
              <svg class="self-center flex-shrink-0 w-5 h-5 text-red-500" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 3a.75.75 0 01.75.75v10.638l3.96-4.158a.75.75 0 111.08 1.04l-5.25 5.5a.75.75 0 01-1.08 0l-5.25-5.5a.75.75 0 111.08-1.04l3.96 4.158V3.75A.75.75 0 0110 3z" clip-rule="evenodd" />
              </svg>
              <%= -diff %>
            </p>
          <% end %>
        <% else %>
          <p class="font-semibold flextext-sm text-neutral-500">
            <%= diff %>
          </p>
        <% end %>
      <% end %>
    </dd>
  </div>
<% end %>
