<% content_for(:html_title) { "Visualizer | Bean There, Brewed That: Your Year in Coffee" } %>
<div class="flex flex-col items-center px-4 mx-auto my-6 space-y-6 max-w-7xl sm:px-6 lg:px-8 dark:text-neutral-200">
  <h1 class="font-serif text-4xl font-bold tracking-tight text-neutral-900 dark:text-neutral-100">
    Bean There, Brewed That
  </h1>
  <div class="space-y-4 max-w-prose">
    <p>
      Welcome to a special look back at your year in coffee.
      It's a tale about the beans you've fallen in love with, the brews you've perfected, and those cozy, caffeinated moments that have brightened your days.
      This is <strong>your</strong> coffee story, narrated one delightful sip at a time.
    </p>
    <p>
      This isn't just a bunch of numbers and charts; it's a flavorful journey through your year.
      From the first morning cup to that late-night espresso, let's reminisce over how your coffee game has evolved and celebrate your journey in the world of coffee.
    </p>
  </div>
  <div class="w-full space-y-4 max-w-prose">
    <h2 class="font-serif text-2xl font-semibold leading-6 text-neutral-900 dark:text-neutral-100">Your Year on Visualizer</h2>
    <% if @yearly_brew.shots_this_year.any? %>
      <dl class="grid grid-cols-1 gap-5 mt-5 sm:grid-cols-2">
        <%= render partial: "yearly_brew/stat", locals: { title: "Total shots this year", stat: @yearly_brew.shots_this_year.count, diff: @yearly_brew.shots_this_year.count - @yearly_brew.shots_past_year.count } %>
        <%= render partial: "yearly_brew/stat", locals: { title: "Favorite roaster", stat: @yearly_brew.favorite_roaster, diff: @yearly_brew.favorite_roaster(:past) } %>
        <%= render partial: "yearly_brew/stat", locals: { title: "Best rated coffee", stat: @yearly_brew.best_rated_coffee, diff: @yearly_brew.best_rated_coffee(:past) } %>
        <%= render partial: "yearly_brew/stat", locals: { title: "Most brewed coffee", stat: @yearly_brew.most_brewed_coffee, diff: @yearly_brew.most_brewed_coffee(:past) } %>
        <%= render partial: "yearly_brew/stat", locals: { title: "Most used profile", stat: @yearly_brew.most_used_profile, diff: @yearly_brew.most_used_profile(:past) } %>
        <%= render partial: "yearly_brew/stat", locals: { title: "Average enjoyment", stat: @yearly_brew.average_enjoyment, diff: (@yearly_brew.average_enjoyment.to_f - @yearly_brew.average_enjoyment(:past).to_f).round(2) } %>
        <%= render partial: "yearly_brew/stat", locals: { title: "Minutes spent making coffee", stat: @yearly_brew.time_brewed, diff: (@yearly_brew.time_brewed.to_f - @yearly_brew.time_brewed(:past).to_f).round(2) } %>
        <%= render partial: "yearly_brew/stat", locals: { title: "Kg of coffee used", stat: @yearly_brew.amount_beans_used, diff: (@yearly_brew.amount_beans_used.to_f - @yearly_brew.amount_beans_used(:past).to_f).round(2) } %>
        <%= render partial: "yearly_brew/stat", locals: { title: "Kg of coffee brewed", stat: @yearly_brew.amount_brewed, diff: (@yearly_brew.amount_brewed.to_f - @yearly_brew.amount_brewed(:past).to_f).round(2) } %>
        <%= render partial: "yearly_brew/stat", locals: { title: "Month with the most shots", stat: @yearly_brew.month_with_most_shots, diff: @yearly_brew.month_with_most_shots(:past) } %>
        <%= render partial: "yearly_brew/stat", locals: { title: "Day with the most shots", stat: @yearly_brew.day_with_most_shots, diff: @yearly_brew.day_with_most_shots(:past) } %>
      </dl>
    <% else %>
      <p>
        You haven't uploaded any shots this year. 😔
      </p>
      <p>
        Hopefully, you'll have some to look back on next year!
      </p>
    <% end %>
  </div>
  <div class="space-y-4 max-w-prose">
    <h2 class="font-serif text-2xl font-semibold leading-6 text-neutral-900">Visualizer v4</h2>
    <p>
      In case you missed it, Visualizer has undergone an exciting upgrade with Visualizer V4!
      From a new logo to infinite loading everywhere and tons more, V4 aims to make your coffee data tracking and analysis even more enjoyable. 🚀
    </p>
    <p>
      To dive into all the details and discover what's new, check out the <a class="underline hover:no-underline" href="https://visualizer.coffee/updates/visualizer-v4" target="blank">full update post</a>.
    </p>
  </div>
  <div class="space-y-4 max-w-prose">
    <h2 class="font-serif text-2xl font-semibold leading-6 text-neutral-900">Emails</h2>
    <p>
      This is the first time I'm sending out a newsletter to all Visualizer users.
      I hope you don't mind me reaching out to you this way, but if you do, you can <a class="underline hover:no-underline" href="https://visualizer.coffee/profiles/edit" target="_blank">unsubscribe from future emails in your profile</a>. 🙏
    </p>
  </div>
  <div class="space-y-4 max-w-prose">
    <h2 class="font-serif text-2xl font-semibold leading-6 text-neutral-900">Happy Holidays!</h2>
    <p>
      As we wrap up this year, I can't help but feel incredibly grateful for your participation in the Visualizer community.
      Your shared shots and passion for coffee have been a source of inspiration, making the platform a vibrant and engaging space for coffee enthusiasts.
      Your contributions have helped shape Visualizer into what it is today, and for that, I am sincerely thankful. 🥰
    </p>
    <p>
      As a small token of my appreciation, and to add a little extra joy to your coffee experiences, I've arranged a special deal with my <em>favorite roaster</em>, <a href="https://banibeans.si/" class="underline hover:no-underline" target="_blank">Bani Beans</a>.
      Use the code <code class="px-1 rounded text-neutral-800 bg-neutral-200">VISUALIZER10</code> in <a href="https://banibeans.si/pages/shop" class="underline hover:no-underline" target="_blank">the shop</a> to enjoy a 10% discount on your purchase. ✨
    </p>
    <p>
      Whether you're decorating the Christmas tree, lighting the menorah, raising an aluminum pole, or celebrating in your own special way, I wish you happiness and cheer. 🎄
    </p>
    <p>
      Here's to a new year filled with health, happiness, and, of course, fantastic coffee.
      Both me and Visualizer are looking forward to all your new shots in the upcoming year! ☕
    </p>
    <p>
      Miha
    </p>
  </div>
</div>
