<% content_for(:html_title) { "Visualizer | Bean There, Brewed That: Your Year in Coffee" } %>
<div class="flex flex-col items-center px-4 mx-auto my-6 gap-y-12 max-w-7xl sm:px-6 lg:px-8 dark:text-neutral-200">
  <h1 class="font-serif text-4xl font-bold tracking-tight text-balance text-neutral-900 dark:text-neutral-100">
    Bean There, Brewed That
  </h1>
  <div class="flex flex-col gap-y-4 max-w-prose">
    <p>
      Welcome to a special look back at your year in coffee.
      It's a tale about the beans you've fallen in love with, the brews you've perfected, and those cozy, caffeinated moments that have brightened your days.
      This is <strong>your</strong> coffee story, narrated one delightful sip at a time.
    </p>
    <p>
      This isn't just a bunch of numbers; it's a flavorful journey through your year.
      From the first morning cup to that late-night espresso, let's reminisce over how your coffee game has evolved and celebrate your journey in the world of coffee.
    </p>
  </div>
  <div class="flex flex-col w-full gap-y-4 max-w-prose">
    <h2 class="font-serif text-2xl font-semibold leading-6 text-neutral-900 dark:text-neutral-100">Your Year on Visualizer</h2>
    <% if @yearly_brew.shots_this_year.any? %>
      <dl class="grid grid-cols-1 gap-5 mt-5 sm:grid-cols-2">
        <%= render partial: "yearly_brew/stat_2023", locals: { icon: :stack, title: "Total shots this year", stat: @yearly_brew.shots_this_year.count, diff: @yearly_brew.shots_this_year.count - @yearly_brew.shots_past_year.count } %>
        <%= render partial: "yearly_brew/stat_2023", locals: { icon: :trophy, title: "Best rated coffee", stat: @yearly_brew.best_rated_coffee, diff: @yearly_brew.best_rated_coffee(:past) } %>
        <%= render partial: "yearly_brew/stat_2023", locals: { icon: :heart, title: "Most brewed coffee", stat: @yearly_brew.most_brewed_coffee, diff: @yearly_brew.most_brewed_coffee(:past) } %>
        <%= render partial: "yearly_brew/stat_2023", locals: { icon: :book, title: "Most used profile", stat: @yearly_brew.most_used_profile, diff: @yearly_brew.most_used_profile(:past) } %>
        <%= render partial: "yearly_brew/stat_2023", locals: { icon: :chart, title: "Average enjoyment", stat: @yearly_brew.average_enjoyment, diff: (@yearly_brew.average_enjoyment.to_f - @yearly_brew.average_enjoyment(:past).to_f).round(2) } %>
        <%= render partial: "yearly_brew/stat_2023", locals: { icon: :scale, title: "Kg of coffee used", stat: @yearly_brew.amount_beans_used, diff: (@yearly_brew.amount_beans_used.to_f - @yearly_brew.amount_beans_used(:past).to_f).round(2) } %>
        <%= render partial: "yearly_brew/stat_2023", locals: { icon: :beaker, title: "Kg of coffee brewed", stat: @yearly_brew.amount_brewed, diff: (@yearly_brew.amount_brewed.to_f - @yearly_brew.amount_brewed(:past).to_f).round(2) } %>
        <%= render partial: "yearly_brew/stat_2023", locals: { icon: :clock, title: "Minutes spent brewing coffee", stat: @yearly_brew.time_brewed, diff: (@yearly_brew.time_brewed.to_f - @yearly_brew.time_brewed(:past).to_f).round(2) } %>
        <%= render partial: "yearly_brew/stat_2023", locals: { icon: :calendar_days, title: "Month with the most shots", stat: @yearly_brew.month_with_most_shots, diff: @yearly_brew.month_with_most_shots(:past) } %>
        <%= render partial: "yearly_brew/stat_2023", locals: { icon: :calendar, title: "Day with the most shots", stat: @yearly_brew.day_with_most_shots, diff: @yearly_brew.day_with_most_shots(:past) } %>
      </dl>
      <% if Current.user.public? %>
        <div class="flex justify-center">
          <%= link_to yearly_brew_path(Current.user.slug, 2023), class: "inline-flex items-center gap-x-2 rounded-md bg-terracotta-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-terracotta-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-terracotta-600" do %>
            <svg class="-ml-0.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M13 4.5a2.5 2.5 0 11.702 1.737L6.97 9.604a2.518 2.518 0 010 .792l6.733 3.367a2.5 2.5 0 11-.671 1.341l-6.733-3.367a2.5 2.5 0 110-3.475l6.733-3.366A2.52 2.52 0 0113 4.5z" />
            </svg>
            Open a shareable public page
          <% end %>
        </div>
      <% else %>
        <p>
          You can share your Yearly Brew if you <%= link_to "make your profile public", edit_profiles_path, class: "text-terracotta-600 standard-link" %>.
        </p>
      <% end %>
    <% else %>
      <p>
        You haven't uploaded any shots this year. 😔
      </p>
      <p>
        Hopefully, you'll have some to look back on next year!
      </p>
    <% end %>
  </div>
  <div class="flex flex-col gap-y-4 max-w-prose">
    <h2 class="font-serif text-2xl font-semibold leading-6 text-neutral-900 dark:text-neutral-100">Happy Holidays!</h2>
    <p>
      As we wrap up this year, I can't help but feel incredibly grateful for your participation in the Visualizer community.
      Your shared shots and passion for coffee have been a source of inspiration, making the platform a vibrant and engaging space for coffee enthusiasts.
      Your contributions have helped shape Visualizer into what it is today, and for that, I am sincerely thankful. 🥰
    </p>
    <p>
      As a small token of my appreciation, and to add a little extra joy to your coffee experiences, I've arranged a special deal with my <strong>favorite roaster</strong>, <a href="https://banibeans.si/" class="standard-link" target="_blank">Banibeans</a>.
      Use the code <code class="px-1 rounded text-neutral-800 bg-neutral-200">VISUALIZER10</code> in <a href="https://banibeans.si/pages/shop" class="standard-link" target="_blank">the shop</a> to enjoy a 10% discount on your purchase. ✨
    </p>
    <p>
      Whether you're decorating the Christmas tree, lighting the menorah, raising an aluminum pole, or celebrating in your own special way, I wish you happiness and cheer. 🎄
    </p>
    <p>
      Here's to a new year filled with health, happiness, and, of course, fantastic coffee.
      Both me and Visualizer are looking forward to all your new shots in the upcoming year! ☕
    </p>
    <p>
      Miha
    </p>
  </div>
</div>
