<% content_for(:html_title) { "Visualizer | Bean Counting 2024: Year in Coffee of #{@user.display_name}" } %>
<div class="flex flex-col items-center px-4 mx-auto my-24 gap-y-24 sm:gap-y-32 max-w-7xl sm:px-6 lg:px-8 dark:text-neutral-200">
  <div class="px-6 bg-white dark:bg-neutral-900 lg:px-8">
    <div class="max-w-2xl mx-auto text-center">
      <p class="font-semibold text-terracotta-600 dark:text-terracotta-500 text-base/7">Year in Coffee</p>
      <h1 class="mt-2 font-serif text-5xl font-semibold tracking-tight text-neutral-900 dark:text-neutral-100 text-balance sm:text-7xl">
        Bean Counting 2024: <%= @user.display_name %>
      </h1>
      <p class="mt-8 text-lg font-medium text-neutral-500 dark:text-neutral-400 text-pretty sm:text-xl/8">
        <% if @yearly_brew.shots_this_year.any? %>
          This is <%= @user.display_name.split.first.capitalize %>'s personal coffee chronicle of the year.
          A data-driven journey through every bean they've ground, every shot they've pulled, and every sip they've savored.
          Well, at least the ones I could find in my database. 😅
        <% else %>
          <%= @user.display_name %> hasn't uploaded any shots this year. 😔
        <% end %>
      </p>
    </div>
  </div>
  <% if @yearly_brew.shots_this_year.any? %>
    <%= render "yearly_brew/stats_2024", personal: false %>
    <% if authenticated? %>
      <div class="flex justify-center">
        <%= link_to yearly_brew_index_path(year: 2024), class: "inline-flex items-center gap-x-2 rounded-md bg-terracotta-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-terracotta-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-terracotta-600" do %>
          <svg class="-ml-0.5 size-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10 8a3 3 0 100-6 3 3 0 000 6zM3.465 14.493a1.23 1.23 0 00.41 1.412A9.957 9.957 0 0010 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 00-13.074.003z" />
          </svg>
          Check out <strong>your</strong> year in coffee
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
