<% content_for(:html_title) { "Visualizer | Bean There, Brewed That: Year in Coffee of #{@user.display_name}" } %>
<div class="flex flex-col gap-y-6 items-center px-4 my-6 mx-auto max-w-7xl sm:px-6 lg:px-8 dark:text-neutral-200">
  <h1 class="font-serif text-4xl font-bold tracking-tight text-balance text-neutral-900 dark:text-neutral-100">
    Bean There, Brewed That: <%= @user.display_name %>
  </h1>
  <div class="flex flex-col gap-y-4 w-full max-w-prose">
    <% if @yearly_brew.shots_this_year.any? %>
      <dl class="grid grid-cols-1 gap-5 mt-5 sm:grid-cols-2">
        <% best_rated_coffee_2022 = "#{@yearly_brew.best_rated_coffee(:past).bean_brand} #{@yearly_brew.best_rated_coffee(:past).bean_type} (#{@yearly_brew.best_rated_coffee(:past).shots_count} shots with #{@yearly_brew.best_rated_coffee(:past).espresso_enjoyment})" if @yearly_brew.best_rated_coffee(:past) %>
        <% best_rated_coffee_2023 = "#{@yearly_brew.best_rated_coffee.bean_brand} #{@yearly_brew.best_rated_coffee.bean_type} (#{@yearly_brew.best_rated_coffee.shots_count} shots with #{@yearly_brew.best_rated_coffee.espresso_enjoyment})" if @yearly_brew.best_rated_coffee %>
        <%= render partial: "yearly_brew/stats_2023", locals: { icon: :stack, title: "Total shots this year", stat: @yearly_brew.shots_this_year.count, diff: @yearly_brew.shots_this_year.count - @yearly_brew.shots_past_year.count } %>
        <%= render partial: "yearly_brew/stats_2023", locals: { icon: :fire, title: "Favorite roaster", stat: @yearly_brew.favorite_roaster, diff: @yearly_brew.favorite_roaster(:past) } %>
        <%= render partial: "yearly_brew/stats_2023", locals: { icon: :trophy, title: "Best rated coffee", stat: best_rated_coffee_2023, diff: best_rated_coffee_2022 } %>
        <%= render partial: "yearly_brew/stats_2023", locals: { icon: :heart, title: "Most brewed coffee", stat: @yearly_brew.most_brewed_coffee, diff: @yearly_brew.most_brewed_coffee(:past) } %>
        <%= render partial: "yearly_brew/stats_2023", locals: { icon: :book, title: "Most used profile", stat: @yearly_brew.most_used_profile, diff: @yearly_brew.most_used_profile(:past) } %>
        <%= render partial: "yearly_brew/stats_2023", locals: { icon: :chart, title: "Average enjoyment", stat: @yearly_brew.average_enjoyment, diff: (@yearly_brew.average_enjoyment.to_f - @yearly_brew.average_enjoyment(:past).to_f).round(2) } %>
        <%= render partial: "yearly_brew/stats_2023", locals: { icon: :scale, title: "Kg of coffee used", stat: @yearly_brew.amount_beans_used, diff: (@yearly_brew.amount_beans_used.to_f - @yearly_brew.amount_beans_used(:past).to_f).round(2) } %>
        <%= render partial: "yearly_brew/stats_2023", locals: { icon: :beaker, title: "Kg of coffee brewed", stat: @yearly_brew.amount_brewed, diff: (@yearly_brew.amount_brewed.to_f - @yearly_brew.amount_brewed(:past).to_f).round(2) } %>
        <%= render partial: "yearly_brew/stats_2023", locals: { icon: :clock, title: "Minutes spent brewing coffee", stat: @yearly_brew.time_brewed, diff: (@yearly_brew.time_brewed.to_f - @yearly_brew.time_brewed(:past).to_f).round(2) } %>
        <%= render partial: "yearly_brew/stats_2023", locals: { icon: :calendar_days, title: "Month with the most shots", stat: @yearly_brew.month_with_most_shots, diff: @yearly_brew.month_with_most_shots(:past) } %>
        <%= render partial: "yearly_brew/stats_2023", locals: { icon: :calendar, title: "Day with the most shots", stat: @yearly_brew.day_with_most_shots, diff: @yearly_brew.day_with_most_shots(:past) } %>
      </dl>
    <% end %>
    <% if authenticated? %>
      <div class="flex justify-center">
        <%= link_to yearly_brew_index_path(year: 2023), class: "inline-flex items-center gap-x-2 rounded-md bg-terracotta-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-terracotta-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-terracotta-600" do %>
          <svg class="-ml-0.5 size-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10 8a3 3 0 100-6 3 3 0 000 6zM3.465 14.493a1.23 1.23 0 00.41 1.412A9.957 9.957 0 0010 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 00-13.074.003z" />
          </svg>
          Check out <strong>your</strong> year in coffee
        <% end %>
      </div>
    <% end %>
  </div>
</div>
