<article>
  <a href="<%= change_path(change.slug.presence || change.id) %>">
    <h2 class="mb-3 font-serif text-4xl font-bold sm:text-5xl text-neutral-900 dark:text-neutral-100">
      <%= change.title %>
    </h2>
  </a>
  <div class="mx-auto max-w-prose">
    <div class="flex justify-between mb-1 text-xs">
      <span class="text-neutral-400">
        <%= change.published_at.strftime('%B %-d, %Y') %>
      </span>
      <%= link_to "Edit", edit_change_path(change) if current_user&.admin %>
    </div>
    <%= markdown_text_from(change.body) %>
  </div>
</article>
