<article class="max-w-3xl p-4 mb-4 overflow-hidden bg-white sm:p-6 ring-1 ring-neutral-900 ring-opacity-5 dark:bg-neutral-900">
  <a href="<%= change_path(change.slug.presence || change.id) %>">
    <p class="text-sm text-neutral-500"><%= change.published_at.strftime('%B %-d, %Y') %></p>
    <h2 class="mb-3 text-2xl font-bold text-neutral-900 dark:text-neutral-100"><%= change.title %></h1>
  </a>
  <div>
    <%= markdown_text_from(change.body) %>
    <%= link_to "Edit", edit_change_path(change) if current_user&.admin %>
  </div>
</article>
