<div class="bg-white dark:bg-gray-900 shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold leading-tight text-gray-900 dark:text-gray-100">Changelog</h1>
    <%= link_to "New", new_change_path if current_user&.admin %>
  </div>
</div>
<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
  <% @changes.each do |change| %>
    <div class="mb-10" id=<%= dom_id(change) %>>
      <a href="<%= changelog_path(anchor: dom_id(change)) %>">
        <h2 class="text-2xl mb-3 font-bold text-gray-900 dark:text-gray-100">
          <%= change.published_at.strftime('%B %-d, %Y') %>:
          <%= change.title %>
        </h2>
      </a>
      <div>
        <%= markdown_text_from(change.body) %>
        <%= link_to "Edit", edit_change_path(change) if current_user&.admin %>
      </div>
    </div>
  <% end %>
</div>
