<% content_for(:html_title) { "Visualizer | #{@change.title}" } %>
<% content_for(:meta_tags) do %>
  <meta name="description" content="<%= @change.excerpt %>">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:title" content="<%= @change.title %>">
  <% if @change.image.attached? %>
    <meta property="og:image" content="<%= public_image_url(@change.image.variant(:social)).html_safe %>">
    <meta property="og:url" content="https://visualizer.coffee/changes/<%= @change.slug %>">
    <meta property="og:description" content="<%= @change.excerpt %>">
  <% end %>
<% end %>
<div class="bg-white border-b dark:bg-neutral-900 border-neutral-200 dark:border-neutral-800">
  <div class="px-4 py-6 mx-auto max-w-prose md:px-0">
    <p class="text-sm text-neutral-500"><%= @change.published_at.strftime('%B %-d, %Y') %></p>
    <h1 class="text-3xl font-bold leading-tight text-neutral-900 dark:text-neutral-100"><%= @change.title %></h1>
  </div>
</div>
<div class="p-4 sm:flex">
  <div class="hidden grow sm:block"></div>
  <%= markdown_text_from(@change.body) %>
  <div class="hidden grow sm:block"></div>
</div>
