<% content_for(:html_title) { "Visualizer | #{@change.title}" } %>
<% content_for(:meta_tags) do %>
  <meta name="description" content="<%= @change.excerpt %>">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:title" content="<%= @change.title %>">
  <% if @change.image.attached? %>
    <meta property="og:image" content="<%= public_image_url(@change.image.variant(:social)).html_safe %>">
    <meta property="og:url" content="https://visualizer.coffee/changes/<%= @change.slug %>">
    <meta property="og:description" content="<%= @change.excerpt %>">
  <% end %>
<% end %>
<div class="max-w-3xl px-4 pt-12 pb-6 mx-auto sm:px-6">
  <%= render @change %>
</div>
