<%= content_for :title, "Bean Counting 2024: Your Year on Visualizer" %>
<%= content_for :preheader, "Welcome to your personal coffee chronicle of the year." %>
<tr>
  <td class="sm-px-0" style="width: 100%; padding-left: 24px; padding-right: 24px; text-align: left">
    <table style="width: 100%;" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <table style="width: 100%;" cellpadding="0" cellspacing="0">
            <tr>
              <td style="border-radius: 4px; background-color: #fff; padding: 24px; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05)">
                <h1 style="margin: 0 0 36px; font-size: 36px; line-height: 36px; color: #000">
                  Bean Counting 2024
                </h1>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                  It's Bean Counting time again!
                  Let's look at what you've been brewing this year.
                  I've tallied up all your shots and sips - well, the ones you've shared with me anyway. 😅
                </p>
                <% if @yearly_brew.shots_this_year.any? %>
                  <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                    <%= render partial: "yearly_brew_stat", locals: { title: "Total shots this year", stat: @yearly_brew.shots_this_year.count, diff: @yearly_brew.shots_this_year.count - @yearly_brew.shots_past_year.count } %>
                    <%= render partial: "yearly_brew_stat", locals: { title: "Favorite roaster", stat: @yearly_brew.favorite_roaster, diff: @yearly_brew.favorite_roaster(:past) } %>
                    <%= render partial: "yearly_brew_stat", locals: { title: "Kg of coffee used", stat: @yearly_brew.amount_beans_used, diff: (@yearly_brew.amount_beans_used.to_f - @yearly_brew.amount_beans_used(:past).to_f).round(2) } %>
                  </p>
                  <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                    But this is just a small taste! <strong>See all your stats on <%= link_to "Visualizer Bean Counting 2024", personal_yearly_brew_url(year: 2024), class: "hover-no-underline", style: "color: #db3e27; text-decoration-line: underline", target: "_blank" %></strong> and feel free to share it far and wide. 🥳
                  </p>
                  <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                    P.S.: There are still a couple of days left to upload a shot or two and make your stats even more impressive. 😉
                  </p>
                <% else %>
                  <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                    You haven't uploaded any shots this year. 😔
                    Hopefully, you'll have some to look back on next year! I can't wait to see your coffee journey unfold.
                  </p>
                  <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                    But there are still a couple of days left to upload a shot or two so even you will have something to see on <%= link_to "Visualizer Yearly Brew", personal_yearly_brew_url(year: 2024), class: "hover-no-underline", style: "color: #db3e27; text-decoration-line: underline", target: "_blank" %>.
                  </p>
                <% end %>
                <h2 style="margin: 0 0 24px; font-size: 24px; line-height: 24px; color: #000">
                  AI and Black Friday
                </h2>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                  I've recently introduced AI-powered coffee bag information extraction! If you're using Coffee Management,
                  you can now paste a URL of a coffee you want to add, and Visualizer will automatically fetch all the relevant information.
                  Check out the <a class="hover-no-underline" target="_blank" style="color: #db3e27; text-decoration-line: underline" href="https://visualizer.coffee/updates/ai-comes-to-visualizer">full announcement</a> to see it in action. 🤖
                </p>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                  I've also made two important decisions about Visualizer's future: no more discounts ever, and no price increases for the foreseeable future.
                  The way I <em>celebrated</em> Black Friday is by giving every existing subscriber an extra free month and everyone who signs up until the end of the year gets a 37-day free trial instead of the usual 7.
                  Read more about this and other updates in the <a class="hover-no-underline" target="_blank" style="color: #db3e27; text-decoration-line: underline" href="https://visualizer.coffee/updates/black-friday">Black Friday post</a>. 💪
                </p>
                <h2 style="margin: 0 0 24px; font-size: 24px; line-height: 24px; color: #000">
                  One More Shot Before 2024
                </h2>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000;">
                  Another year of shots, discoveries, and coffee moments comes to an end. Thank you for being part of this journey - your uploads, feedback, and enthusiasm make Visualizer what it is. It's amazing to see how this little project has grown into such a vibrant community of coffee lovers.
                </p>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000;">
                  Speaking of coffee - my friend <a href="https://banibeans.si/" class="hover-no-underline" target="_blank" style="color: #db3e27; text-decoration-line: underline">Banibeans</a> is still offering Visualizer users a special 10% discount with code <code style="border-radius: 4px; background-color: #e5e5e5; padding-left: 4px; padding-right: 4px; color: #262626">VISUALIZER10</code>.
                  Perfect timing if you're looking to start 2025 with some amazing beans or if you're looking for a last second gift for a fellow coffee enthusiast! ✨
                </p>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000;">
                  Whatever and however you're celebrating these days, I wish you wonderful holidays filled with great coffee and even better company. Here's to another year of perfect shots and shared discoveries! ☕
                </p>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000;">
                  Miha
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
