<% include_person = defined?(include_person) ? include_person : false %>
<% owner = current_user && shot.user == current_user %>
<% full_crud = controller.is_a?(ShotsController) && owner %>
<% show_start_time = owner || !shot.user&.hide_shot_times? %>
<% search_params = {commit: "Search", user_id: shot.user.id, user: shot.user.display_name} %>
<% bean_weight = shot.bean_weight.to_f %>
<% drink_weight = shot.drink_weight.to_f %>
<% ratio = drink_weight / bean_weight %>
<% tds = shot.drink_tds.to_f %>
<% ey = shot.drink_ey.to_f %>
<tr class="cursor-pointer hover:bg-neutral-50 dark:hover:bg-neutral-800" id="<%= dom_id(shot) %>" data-action="click->shot#view" data-url="<%= shot_path(shot) %>">
  <td class="px-1 py-4 sm:px-4">
    <div class="flex items-center">
      <% if shot.espresso_enjoyment.to_i > 0 %>
        <div class="w-8 h-8 mr-2 rounded-full shrink-0 sm:mr-4" style="background-color: <%= enjoyment_hex(shot.espresso_enjoyment) %>;">
          <div class="py-1 text-center text-white">
            <%= shot.espresso_enjoyment %>
          </div>
        </div>
      <% end %>
      <div class="sm">
        <div class="text-sm text-neutral-500 dark:text-neutral-400">
          <%= shot.profile_title %>
        </div>
        <% if show_start_time %>
          <div class="text-sm text-neutral-500 dark:text-neutral-400">
            <%= shot.start_time.in_time_zone(@timezone).to_formatted_s(:long) %>
          </div>
        <% end %>
        <% if include_person %>
          <div class="flex items-center">
            <div class="text-sm text-neutral-500 dark:text-neutral-400">
              <%= shot.user.display_name %>
            </div>
            <% if shot.user.premium? %>
              <%= link_to premium_index_path do %>
                <!-- SVG content here -->
              <% end %>
            <% end %>
          </div>
        <% end %>
        <% if shot.barista.present? %>
          <div class="text-sm text-neutral-500 dark:text-neutral-400">
            Barista: <%= shot.barista %>
          </div>
        <% end %>
      </div>
    </div>
  </td>
  <td class="px-1 py-4 sm:px-4">
    <div class="flex flex-col">
      <span class="text-sm text-neutral-500 dark:text-neutral-400">
        <% if shot.bean_brand.present? %>
          <% if full_crud %>
            <%= link_to shot.bean_brand, community_index_path(search_params.merge(bean_brand: shot.bean_brand)), class: "underline hover:text-neutral-400 dark:hover:text-neutral-500" %>
          <% else %>
            <%= shot.bean_brand %>
          <% end %>
        <% end %>
        <% if shot.bean_type.present? %>
          <% if full_crud %>
            <%= link_to shot.bean_type, community_index_path(search_params.merge(bean_type: shot.bean_type)), class: "underline hover:text-neutral-400 dark:hover:text-neutral-500" %>
          <% else %>
            <%= shot.bean_type %>
          <% end %>
        <% end %>
      </span>
      <span class="text-sm text-neutral-500 dark:text-neutral-400">
        <% if bean_weight > 0 %>
          <%= shot.bean_weight %> g
        <% end %>
        <% if bean_weight > 0 && drink_weight > 0 %>
          :
        <% end %>
        <% if drink_weight > 0 %>
          <%= shot.drink_weight %> g
        <% end %>
        <% if bean_weight > 0 && drink_weight > 0 && ratio > 0 && ratio.finite? %>
          (1:<%= ratio.round(1) %>)
        <% end %>
        <% if bean_weight > 0 || drink_weight > 0 %>
          in <%= shot.duration.round(1) %> s
        <% end %>
      </span>
      <span class="text-sm text-neutral-500 dark:text-neutral-400">
        <% if shot.grinder_model.present? %>
          <%= shot.grinder_model %>
        <% end %>
        <% if shot.grinder_setting.present? && shot.grinder_setting != "0" %>
          @ <%= shot.grinder_setting %>
        <% end %>
      </span>
      <span class="text-sm text-neutral-500 dark:text-neutral-400">
        <% if tds > 0 %>
          TDS <%= tds %> %
        <% end %>
        <% if tds > 0 && ey > 0 %>
          :
        <% end %>
        <% if ey > 0 %>
          EY <%= ey %> %
        <% end %>
      </span>
    </div>
  </td>
  <td class="px-1 py-4 sm:px-4">
    <div class="flex flex-col lg:flex-row">
      <div class="grow"></div>
      <span>
        <a class="inline-flex items-center px-4 py-2 text-sm font-medium bg-white border rounded-md shadow-sm cursor-pointer border-neutral-300 dark:border-neutral-600 text-neutral-700 dark:bg-neutral-800 dark:text-neutral-300 hover:bg-neutral-50 dark:hover:bg-neutral-900" href="<%= shot_path(shot) %>">
          <!-- SVG for View button -->
          <span class="hidden ml-2 xl:block">View</span>
        </a>
      </span>
      <% if full_crud %>
        <span class="mt-2 lg:mt-0 lg:ml-2">
          <a class="inline-flex items-center px-4 py-2 text-sm font-medium bg-white border rounded-md shadow-sm cursor-pointer border-neutral-300 dark:border-neutral-600 text-neutral-700 dark:bg-neutral-800 dark:text-neutral-300 hover:bg-neutral-50 dark:hover:bg-neutral-900" href="<%= edit_shot_path(shot) %>">
            <!-- SVG for Edit button -->
            <span class="hidden ml-2 xl:block">Edit</span>
          </a>
        </span>
        <span class="mt-2 lg:mt-0 lg:ml-2">
          <%= button_to shot_path(shot), method: :delete, form_class: "inline-flex items-center", class: "inline-flex items-center px-4 py-2 border border-neutral-300 dark:border-neutral-600 rounded-md shadow-sm text-sm font-medium text-neutral-700 bg-white dark:bg-neutral-800 dark:text-neutral-300 hover:bg-red-50 dark:hover:bg-red-900", data: {action: "click->modal#confirm", title: "Delete Shot", text: "Are you sure you want to permanently delete shot from #{shot.start_time.in_time_zone(@timezone).to_formatted_s(:long)}?"} do %>
            <input type="hidden" name="page" value="<%= params[:page] %>">
            <!-- SVG for Delete button -->
            <span class="hidden ml-2 xl:block">Delete</span>
          <% end %>
        </span>
      <% end %>
    </div>
  </td>
</tr>
