<%= tag.div id: dom_id(shot) do %>
  <div class="relative flex md:rounded sm:shadow dark:sm:shadow-none dark:sm:border dark:sm:border-neutral-700 dark:text-neutral-200">
    <div class="relative flex p-4 cursor-pointer grow sm:gap-x-8 dark:hover:bg-neutral-800/25 hover:bg-neutral-100/25">
      <div class="flex-none hidden w-24 -my-4 -ml-4 lg:w-40" data-check-images-target="container">
        <% if shot.image.attached? && shot.image.variable? %>
          <div class="flex w-full h-full">
            <%= image_tag shot.image.variant(:thumb), class: "rounded-l object-cover object-center" %>
          </div>
        <% end %>
      </div>
      <div class="flex flex-col justify-between md:flex-row md:gap-x-8 grow gap-y-1 md:gap-y-0">
        <div class="flex flex-col justify-between basis-1/2">
          <div class="flex flex-col space-y-1">
            <%= time_tag(shot.start_time.in_time_zone(@timezone), class: "text-sm md:text-base text-neutral-500 dark:text-neutral-400") %>
            <div class="flex items-center mb-1 gap-x-2">
              <% if shot.espresso_enjoyment.to_i > 0 %>
                <span class="inline-flex text-sm md:text-base items-center rounded-md px-1.5 py-0.5 font-medium text-white" style="background-color: <%= enjoyment_hex(shot.espresso_enjoyment) %>;">
                  <%= shot.espresso_enjoyment %>
                </span>
              <% end %>
              <span class="text-base font-semibold md:text-lg">
                <%= link_to shot_path(shot) do %>
                  <span class="absolute inset-x-0 bottom-0 -top-px"></span>
                  <%= shot.profile_title %>
                <% end %>
              </span>
            </div>
            <div class="flex flex-col space-y-1 text-sm md:text-base text-neutral-500 dark:text-neutral-400">
              <% if shot.drink_tds_f > 0 || shot.drink_ey_f > 0 %>
                <div class="flex items-center gap-x-2">
                  <% if shot.drink_tds_f > 0 %>
                    <span>TDS: <%= shot.drink_tds_f %>%</span>
                  <% end %>
                  <% if shot.drink_ey_f > 0 %>
                    <span>EY: <%= shot.drink_ey_f %>%</span>
                  <% end %>
                </div>
              <% end %>
              <% if shot.barista.present? %>
                <div>
                  By <%= shot.barista %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="flex flex-col space-y-1 text-sm grow md:text-base text-neutral-500 dark:text-neutral-400 basis-1/2">
          <% if shot.bean_weight_f > 0 || shot.drink_weight_f > 0 %>
            <div class="flex flex-wrap items-center gap-x-1">
              <% if shot.bean_weight_f > 0 %>
                <span><%= shot.bean_weight_f %>g</span>
              <% end %>
              <% if shot.bean_weight_f > 0 && shot.drink_weight_f > 0 %>
                <span>&rarr; </span>
              <% end %>
              <% if shot.drink_weight_f > 0 %>
                <span><%= shot.drink_weight_f %>g</span>
                <% ratio = shot.drink_weight_f / shot.bean_weight_f %>
                <% if ratio > 0 && ratio.finite? %>
                  <span>(1:<%= ratio.round(1) %>)</span>
                <% end %>
              <% end %>
              <span>in <%= shot.duration.round(1) %>s</span>
            </div>
          <% end %>
          <% if (shot.grinder_setting.present? && shot.grinder_setting != "0" && shot.grinder_setting != "0.0") || shot.grinder_model.present? %>
            <div class="flex flex-wrap items-center gap-x-1">
              <% if shot.grinder_setting.present? && shot.grinder_setting != "0" && shot.grinder_setting != "0.0" %>
                <span><%= shot.grinder_setting %></span>
              <% end %>
              <% if shot.grinder_model.present? %>
                <span class="truncate">on <%= shot.grinder_model %></span>
              <% end %>
            </div>
          <% end %>
          <% if shot.bean_brand.present? || shot.bean_type.present? %>
            <div>
              <% if shot.bean_brand.present? %>
                <%= shot.bean_brand %>
              <% end %>
              <% if shot.bean_type.present? %>
                <%= shot.bean_type %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="flex border-l border-neutral-200 dark:border-neutral-700">
      <div class="flex flex-col w-full -mt-px divide-y divide-neutral-200 dark:divide-neutral-700">
        <div class="relative flex grow dark:hover:bg-neutral-800/25 hover:bg-neutral-100/25">
          <%= link_to edit_shot_path(shot), class: "flex items-center p-4 text-sm border border-transparent gap-x-3" do %>
            <span class="absolute inset-x-0 bottom-0 -top-px"></span>
            <svg class="w-4 h-4 text-neutral-500 dark:text-neutral-300" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M11.013 2.513a1.75 1.75 0 0 1 2.475 2.474L6.226 12.25a2.751 2.751 0 0 1-.892.596l-2.047.848a.75.75 0 0 1-.98-.98l.848-2.047a2.75 2.75 0 0 1 .596-.892l7.262-7.261Z" clip-rule="evenodd" />
            </svg>
            Edit
          <% end %>
        </div>
        <div class="relative flex hover:bg-red-500/10">
          <%= link_to shot_path(shot), class: "flex items-center px-4 py-3 text-sm border border-transparent gap-x-3 text-neutral-400 dark:text-neutral-500", data: {turbo_method: :delete, action: "click->modal#confirm", title: "Delete Shot", text: "Are you sure you want to permanently delete this shot from #{shot.start_time.in_time_zone(@timezone).to_formatted_s(:long)}?"} do %>
            <span class="absolute inset-x-0 bottom-0 -top-px"></span>
            <svg class="w-4 h-4 text-neutral-400 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor">
              <path fill-rule="evenodd" d="M5 3.25V4H2.75a.75.75 0 0 0 0 1.5h.3l.815 8.15A1.5 1.5 0 0 0 5.357 15h5.285a1.5 1.5 0 0 0 1.493-1.35l.815-8.15h.3a.75.75 0 0 0 0-1.5H11v-.75A2.25 2.25 0 0 0 8.75 1h-1.5A2.25 2.25 0 0 0 5 3.25Zm2.25-.75a.75.75 0 0 0-.75.75V4h3v-.75a.75.75 0 0 0-.75-.75h-1.5ZM6.05 6a.75.75 0 0 1 .787.713l.275 5.5a.75.75 0 0 1-1.498.075l-.275-5.5A.75.75 0 0 1 6.05 6Zm3.9 0a.75.75 0 0 1 .712.787l-.275 5.5a.75.75 0 0 1-1.498-.075l.275-5.5a.75.75 0 0 1 .786-.711Z" clip-rule="evenodd" />
            </svg>
            Delete
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
