<%= tag.div id: dom_id(shot) do %>
  <div class="relative flex md:rounded sm:shadow dark:sm:shadow-none dark:sm:border dark:sm:border-neutral-800 dark:text-neutral-200">
    <div class="relative flex p-4 cursor-pointer grow sm:gap-x-8 dark:hover:bg-neutral-800/25 hover:bg-neutral-100/25">
      <div class="flex-none hidden w-24 -my-4 -ml-4 lg:w-40" data-check-images-target="container">
        <% if shot.image.attached? && shot.image.variable? %>
          <div class="flex w-full h-full">
            <%= image_tag shot.image.variant(:thumb), class: "rounded-l object-cover object-center" %>
          </div>
        <% end %>
      </div>
      <div class="flex flex-col justify-between md:flex-row md:gap-x-8 grow">
        <div class="flex flex-col justify-between md:gap-y-2 basis-1/3">
          <div class="flex flex-col md:gap-y-2">
            <%= time_tag(shot.start_time.in_time_zone(@timezone), class: "text-sm text-neutral-500 dark:text-neutral-400 whitespace-nowrap") %>
            <div>
              <% if shot.espresso_enjoyment.to_i > 0 %>
                <span class="mr-1 inline-flex text-sm items-center rounded-md px-1.5 py-0.5 font-medium text-white" style="background-color: <%= enjoyment_hex(shot.espresso_enjoyment) %>;">
                  <%= shot.espresso_enjoyment %>
                </span>
              <% end %>
              <span class="font-semibold">
                <%= link_to shot_path(shot) do %>
                  <span class="absolute inset-x-0 bottom-0 -top-px"></span>
                  <%= shot.profile_title %>
                <% end %>
              </span>
            </div>
            <% if (shot.grinder_setting.present? && shot.grinder_setting != "0" && shot.grinder_setting != "0.0") || shot.grinder_model.present? %>
              <div>
                <% if shot.grinder_setting.present? && shot.grinder_setting != "0" && shot.grinder_setting != "0.0" %>
                  <%= shot.grinder_setting %>
                <% end %>
                <% if shot.grinder_model.present? %>
                  on <%= shot.grinder_model %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="flex flex-col grow md:gap-y-2 text-neutral-500 dark:text-neutral-400 basis-2/3">
          <% if shot.bean_brand.present? || shot.bean_type.present? %>
            <div>
              <% if shot.bean_brand.present? %>
                <%= shot.bean_brand %>
              <% end %>
              <% if shot.bean_type.present? %>
                <%= shot.bean_type %>
              <% end %>
            </div>
          <% end %>
          <% if shot.weight_and_ratio_info.present? || shot.bean_weight_f > 0 || shot.drink_weight_f > 0 %>
            <div>
              <% if shot.weight_and_ratio_info.present? %>
                <%= shot.weight_and_ratio_info %>
              <% end %>
              <% if shot.bean_weight_f > 0 || shot.drink_weight_f > 0 %>
                in <%= shot.duration.round(1) %> s
              <% end %>
            </div>
          <% end %>
          <% if shot.drink_tds_f > 0 || shot.drink_ey_f > 0 %>
            <div>
              <% if shot.drink_tds_f > 0 %>
                TDS: <%= shot.drink_tds_f %>%
              <% end %>
              <% if shot.drink_ey_f > 0 %>
                EY: <%= shot.drink_ey_f %>%
              <% end %>
            </div>
          <% end %>
          <% if shot.barista.present? %>
            <div>
              By <%= shot.barista %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="flex border-l border-neutral-200 dark:border-neutral-800">
      <div class="flex flex-col w-full -mt-px divide-y divide-neutral-200 dark:divide-neutral-800">
        <div class="relative flex flex-1 dark:hover:bg-neutral-800/25 hover:bg-neutral-100/25">
          <%= link_to edit_shot_path(shot), class: "flex items-center p-4 text-sm border border-transparent gap-x-3" do %>
            <span class="absolute inset-x-0 bottom-0 -top-px"></span>
            <svg class="w-4 h-4 text-neutral-500 dark:text-neutral-300" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M11.013 2.513a1.75 1.75 0 0 1 2.475 2.474L6.226 12.25a2.751 2.751 0 0 1-.892.596l-2.047.848a.75.75 0 0 1-.98-.98l.848-2.047a2.75 2.75 0 0 1 .596-.892l7.262-7.261Z" clip-rule="evenodd" />
            </svg>
            Edit
          <% end %>
        </div>
        <div class="relative flex flex-1 dark:hover:bg-red-900/25 hover:bg-red-100/25">
          <%= link_to shot_path(shot), class: "flex items-center p-4 text-sm border border-transparent gap-x-3", data: {turbo_method: :delete, action: "click->modal#confirm", title: "Delete Shot", text: "Are you sure you want to permanently delete this shot from #{shot.start_time.in_time_zone(@timezone).to_formatted_s(:long)}?"} do %>
            <span class="absolute inset-x-0 bottom-0 -top-px"></span>
            <svg class="w-4 h-4 text-neutral-500 dark:text-neutral-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor">
              <path fill-rule="evenodd" d="M5 3.25V4H2.75a.75.75 0 0 0 0 1.5h.3l.815 8.15A1.5 1.5 0 0 0 5.357 15h5.285a1.5 1.5 0 0 0 1.493-1.35l.815-8.15h.3a.75.75 0 0 0 0-1.5H11v-.75A2.25 2.25 0 0 0 8.75 1h-1.5A2.25 2.25 0 0 0 5 3.25Zm2.25-.75a.75.75 0 0 0-.75.75V4h3v-.75a.75.75 0 0 0-.75-.75h-1.5ZM6.05 6a.75.75 0 0 1 .787.713l.275 5.5a.75.75 0 0 1-1.498.075l-.275-5.5A.75.75 0 0 1 6.05 6Zm3.9 0a.75.75 0 0 1 .712.787l-.275 5.5a.75.75 0 0 1-1.498-.075l.275-5.5a.75.75 0 0 1 .786-.711Z" clip-rule="evenodd" />
            </svg>
            Delete
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
