<% data_tabs_active_tab="border-green-600 text-green-600" %>
<% data_tabs_inactive_tab="border-transparent text-stone-500 hover:text-stone-700 hover:border-stone-300 dark:hover:text-stone-400 dark:hover:border-stone-700" %>
<% data_tabs_active_icon="text-green-600" %>
<% data_tabs_inactive_icon="text-stone-500 group-hover:text-stone-700 dark:group-hover:text-stone-400" %>
<% selected = cookies["shots.selected_tab"].presence || "tab-upload" %>
<div data-controller="tabs" data-tabs-active-tab="<%= data_tabs_active_tab %>" data-tabs-inactive-tab="<%= data_tabs_inactive_tab %>" data-tabs-active-icon="<%= data_tabs_active_icon %>" data-tabs-inactive-icon="<%= data_tabs_inactive_icon %>">
  <div class="border-b border-stone-200 dark:border-stone-700">
    <nav class="-mb-px flex justify-center sm:justify-start space-x-8">
      <a href="#" class="<%= selected == "tab-upload" ? data_tabs_active_tab : data_tabs_inactive_tab %> group inline-flex items-center py-4 px-1 border-b-2 font-medium text-sm" data-tabs-target="tab" data-action="click->tabs#change">
        <svg class="<%= selected == "tab-upload" ? data_tabs_active_icon : data_tabs_inactive_icon %> h-5 w-5 sm:-ml-0.5 sm:mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" data-tabs-target="icon">
          <path fill-rule="evenodd" d="M4.5 2A1.5 1.5 0 003 3.5v13A1.5 1.5 0 004.5 18h11a1.5 1.5 0 001.5-1.5V7.621a1.5 1.5 0 00-.44-1.06l-4.12-4.122A1.5 1.5 0 0011.378 2H4.5zm4.75 11.25a.75.75 0 001.5 0v-2.546l.943 1.048a.75.75 0 101.114-1.004l-2.25-2.5a.75.75 0 00-1.114 0l-2.25 2.5a.75.75 0 101.114 1.004l.943-1.048v2.546z" clip-rule="evenodd" />
        </svg>
        <span class="hidden sm:block">Upload</span>
      </a>
      <a href="#" class="<%= selected == "tab-recents" ? data_tabs_active_tab : data_tabs_inactive_tab %> group inline-flex items-center py-4 px-1 border-b-2 font-medium text-sm" data-tabs-target="tab" data-action="click->tabs#change">
        <svg class="<%= selected == "tab-recents" ? data_tabs_active_icon : data_tabs_inactive_icon %> h-5 w-5 sm:-ml-0.5 sm:mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" data-tabs-target="icon">
          <path fill-rule="evenodd" d="M8.34 1.804A1 1 0 019.32 1h1.36a1 1 0 01.98.804l.295 1.473c.497.144.971.342 1.416.587l1.25-.834a1 1 0 011.262.125l.962.962a1 1 0 01.125 1.262l-.834 1.25c.245.445.443.919.587 1.416l1.473.294a1 1 0 01.804.98v1.361a1 1 0 01-.804.98l-1.473.295a6.95 6.95 0 01-.587 1.416l.834 1.25a1 1 0 01-.125 1.262l-.962.962a1 1 0 01-1.262.125l-1.25-.834a6.953 6.953 0 01-1.416.587l-.294 1.473a1 1 0 01-.98.804H9.32a1 1 0 01-.98-.804l-.295-1.473a6.957 6.957 0 01-1.416-.587l-1.25.834a1 1 0 01-1.262-.125l-.962-.962a1 1 0 01-.125-1.262l.834-1.25a6.957 6.957 0 01-.587-1.416l-1.473-.294A1 1 0 011 10.68V9.32a1 1 0 01.804-.98l1.473-.295c.144-.497.342-.971.587-1.416l-.834-1.25a1 1 0 01.125-1.262l.962-.962A1 1 0 015.38 3.03l1.25.834a6.957 6.957 0 011.416-.587l.294-1.473zM13 10a3 3 0 11-6 0 3 3 0 016 0z" clip-rule="evenodd" />
        </svg>
        <span class="hidden sm:block">Recent</span>
      </a>
      <a href="#" class="<%= selected == "tab-enjoyment" ? data_tabs_active_tab : data_tabs_inactive_tab %> group inline-flex items-center py-4 px-1 border-b-2 font-medium text-sm" data-tabs-target="tab" data-action="click->tabs#change">
        <svg class="<%= selected == "tab-enjoyment" ? data_tabs_active_icon : data_tabs_inactive_icon %> h-5 w-5 sm:-ml-0.5 sm:mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" data-tabs-target="icon">
          <path fill-rule="evenodd" d="M4.25 2A2.25 2.25 0 002 4.25v11.5A2.25 2.25 0 004.25 18h11.5A2.25 2.25 0 0018 15.75V4.25A2.25 2.25 0 0015.75 2H4.25zM15 5.75a.75.75 0 00-1.5 0v8.5a.75.75 0 001.5 0v-8.5zm-8.5 6a.75.75 0 00-1.5 0v2.5a.75.75 0 001.5 0v-2.5zM8.584 9a.75.75 0 01.75.75v4.5a.75.75 0 01-1.5 0v-4.5a.75.75 0 01.75-.75zm3.58-1.25a.75.75 0 00-1.5 0v6.5a.75.75 0 001.5 0v-6.5z" clip-rule="evenodd" />
        </svg>
        <span class="hidden sm:block">Enjoyment</span>
      </a>
      <a href="#" class="<%= selected == "tab-none" ? data_tabs_active_tab : data_tabs_inactive_tab %> group inline-flex items-center py-4 px-1 border-b-2 font-medium text-sm" data-tabs-target="tab" data-action="click->tabs#change">
        <svg class="<%= selected == "tab-none" ? data_tabs_active_icon : data_tabs_inactive_icon %> h-5 w-5 sm:-ml-0.5 sm:mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" data-tabs-target="icon">
          <path fill-rule="evenodd" d="M3.28 2.22a.75.75 0 00-1.06 1.06l14.5 14.5a.75.75 0 101.06-1.06l-1.745-1.745a10.029 10.029 0 003.3-4.38 1.651 1.651 0 000-1.185A10.004 10.004 0 009.999 3a9.956 9.956 0 00-4.744 1.194L3.28 2.22zM7.752 6.69l1.092 1.092a2.5 2.5 0 013.374 3.373l1.091 1.092a4 4 0 00-5.557-5.557z" clip-rule="evenodd" />
          <path d="M10.748 13.93l2.523 2.523a9.987 9.987 0 01-3.27.547c-4.258 0-7.894-2.66-9.337-6.41a1.651 1.651 0 010-1.186A10.007 10.007 0 012.839 6.02L6.07 9.252a4 4 0 004.678 4.678z" />
        </svg>
        <span class="hidden sm:block">None</span>
      </a>
    </nav>
  </div>
  <div id="tab-upload" class="<%= selected == "tab-upload" ? "" : "hidden" %> overflow-hidden sm:rounded-b-lg" data-tabs-target="panel">
    <%= render "upload" %>
  </div>
  <div id="tab-recents" class="<%= selected == "tab-recents" ? "" : "hidden" %> overflow-hidden sm:rounded-b-lg" data-tabs-target="panel">
    <div class="px-4 py-5 sm:p-6">
      <%= turbo_frame_tag :recents, src: recents_shots_path, loading: :lazy do %>
        <div class="flex text-green-600">
          <svg class="animate-spin -ml-1 mr-3 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg>
          Loading...
        </div>
      <% end %>
    </div>
  </div>
  <div id="tab-enjoyment" class="<%= selected == "tab-enjoyment" ? "" : "hidden" %> overflow-hidden sm:rounded-b-lg" data-tabs-target="panel">
    <div class="px-4 py-5 sm:p-6">
      <%= turbo_frame_tag :enjoyments, src: enjoyments_shots_path, loading: :lazy do %>
        <div class="flex text-green-600">
          <svg class="animate-spin -ml-1 mr-3 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg>
          Loading...
        </div>
      <% end %>
    </div>
  </div>
  <div id="tab-none" class="<%= selected == "tab-none" ? "" : "hidden" %> overflow-hidden sm:rounded-b-lg" data-tabs-target="panel">
    <div class="py-2"></div>
  </div>
</div>
