<%= turbo_frame_tag "coffee_bag_fields" do %>
  <% new_coffee_bag_path = new_roaster_coffee_bag_path(roaster_id: @roaster.id) if @roaster.present? %>
  <% tag.div class: "grid grid-cols-6 gap-6", data: { controller: "coffee-bag-fields", new_roaster_path:, new_coffee_bag_path:, coffee_bag_form_shots_path: coffee_bag_form_shots_path(coffee_bag: @coffee_bag) } do %>
    <div class="col-span-6 sm:col-span-3">
      <%= label_tag :roaster, nil, class: "standard-label" %>
      <div class="relative" data-controller="combobox">
        <%= text_field_tag :roaster, @roaster.name, class: "mt-1 standard-input", autocomplete: "off", data: { action: "focus->combobox#show blur->combobox#blur keydown.down->combobox#highlightNext:stop keydown.up->combobox#highlightPrevious:stop keydown.enter->combobox#select keydown.esc->combobox#hide input->combobox#filter click@window->combobox#windowClick", combobox_target: "input" } %>
        <%= hidden_field_tag :roaster_id, @roaster.id, data: { action: "change->coffee-bag-fields#roaster_changed", combobox_target: "hiddenInput" } %>
        <button type="button" class="absolute inset-y-0 right-0 flex items-center px-2 rounded-r-md focus:outline-none" data-action="click->combobox#toggle" tabindex="-1">
          <svg class="w-5 h-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd" />
          </svg>
        </button>
        <ul class="absolute z-10 hidden w-full py-1 mt-1 overflow-auto text-base bg-white rounded-md shadow-lg max-h-60 ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" data-combobox-target="list">
          <% @roasters.each do |roaster| %>
            <li class="relative py-2 pl-3 text-gray-900 cursor-default select-none pr-9 group<%= roaster == @roaster ? " is-selected" : "" %>" data-action="click->combobox#select mousemove->combobox#mouseMove mouseleave->combobox#markAllAsInactive" data-roaster-id="<%= roaster.id %>" data-roaster-name="<%= roaster.name %>">
              <span class="block truncate group-[.is-selected]:font-semibold"><%= roaster.name %></span>
              <span class="absolute inset-y-0 right-0 items-center pr-4 hidden group-[.is-selected]:flex text-terracotta-500 group-[.text-white]:text-white">
                <svg class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                </svg>
              </span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <% if @coffee_bags %>
      <div class="col-span-6 sm:col-span-3">
        <%= label_tag :shot_coffee_bag_id, "Coffee Bag", class: "standard-label" %>
        <% select_options = "<option value=\"new\">Add New Coffee Bag</option>\n<option value=\"\"#{"selected=\"selected\"" if @coffee_bag.nil? || @roaster != @coffee_bag.roaster}>------</option>\n" + options_from_collection_for_select(@coffee_bags, :id, :display_name, @coffee_bag&.id) %>
        <%= select_tag "shot[coffee_bag_id]", select_options.html_safe, class: "mt-1 standard-input", data: { action: "change->coffee-bag-fields#coffee_bag_changed", coffee_bag_fields_target: "coffeeBags" } %>
      </div>
    <% else %>
      <%= hidden_field_tag "shot[coffee_bag_id]", nil %>
    <% end %>
  <% end %>
<% end %>
