<div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
  <div class="flex flex-col md:flex-row">
    <div class="flex-1">
      <%= render "details", shot: @shot, name: true %>
    </div>
    <div class="flex-1 mt-6 md:ml-3 md:mt-0">
      <%= render "details", shot: @comparison, name: true %>
    </div>
  </div>
</div>
<% if @chart %>
  <% if Current.user&.premium? %>
    <div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="text-lg text-center text-neutral-900 dark:text-neutral-100">
        Adjust comparison timing
      </div>
      <div class="flex">
        <div class="flex flex-col mt-2 mr-2 grow">
          <input id="compare-range" class="flex-1 pt-2 shot-range dark:bg-neutral-900" type="range" min="-<%= @chart.duration %>" max="<%= @chart.duration %>" value="0" step="<%= @chart.timestep %>">
          <div class="flex pt-2">
            <div class="text-neutral-600 dark:text-neutral-400">
              -<%= ActiveSupport::Duration.build(@chart.duration / 1000).inspect %>
            </div>
            <div class="grow"></div>
            <div class="text-neutral-600 dark:text-neutral-400">
              <%= ActiveSupport::Duration.build(@chart.duration / 1000).inspect %>
            </div>
          </div>
        </div>
        <button id="compare-range-reset" class="items-center px-4 py-2 text-sm font-medium bg-white border border-neutral-300 dark:border-neutral-600 rounded-md shadow-sm text-neutral-700 dark:bg-neutral-800 dark:text-neutral-300 hover:bg-neutral-50 dark:hover:bg-neutral-900">Reset</button>
      </div>
    </div>
  <% end %>
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div id="shot-chart"></div>
  </div>
  <div class="pb-8 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div id="temperature-chart"></div>
  </div>
  <script>
    window.shotData = <%= @chart.shot_chart.to_json.html_safe %>;
    window.temperatureData = <%= @chart.temperature_chart.to_json.html_safe %>;
    window.shotStages = [];
    window.comparisonData = <%= @chart.comparison_data.to_json.html_safe %>;
  </script>
<% end %>
