<%= turbo_frame_tag :recents do %>
  <% if @recents.present? %>
    <% search_params = {commit: "Search", user_id: current_user.id, user: current_user.display_name} %>
    <div>
      <div>
        <h3 class="text-lg font-medium leading-6 text-neutral-900 dark:text-neutral-300">Recent grinder settings by coffee and profile</h3>
      </div>
      <div class="mt-5 border-t border-neutral-200 dark:border-neutral-800">
        <dl class="sm:divide-y sm:divide-neutral-200 dark:sm:divide-neutral-800">
          <% @recents.each do |bean_group, data| %>
            <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:py-5">
              <dt class="text-neutral-800 dark:text-neutral-400">
                <span class="font-medium"><%= bean_group.first %></span>
                <br>
                <span><%= bean_group.second %></span>
              </dt>
              <dd class="mt-1 text-sm text-neutral-800 dark:text-neutral-400 sm:col-span-2 sm:mt-0">
                <ul role="list" class="border divide-y divide-neutral-200 dark:divide-neutral-800 rounded-md border-neutral-200 dark:border-neutral-800">
                  <% data.each do |profile_group, shots| %>
                    <% shot = shots.first %>
                    <li class="flex items-center justify-between py-3 pl-3 pr-4">
                      <div class="flex items-center flex-1 w-0">
                        <span class="flex-1 w-0 ml-2 truncate">
                          <% if shot.grinder_setting.present? %>
                            <span class="font-medium"><%= shot.grinder_setting %></span>
                            on
                          <% end %>
                          <%= profile_group.map(&:presence).compact.join(" with ") %>
                        </span>
                      </div>
                      <div class="flex-shrink-0 ml-4">
                        <%= link_to "View", search_index_path(search_params.merge(%i[bean_brand bean_type profile_title grinder_model].map{|m| [m, shot.public_send(m)]}.to_h)), class: "font-medium text-terracotta-600 hover:text-terracotta-500", data: {turbo_frame:"_top"} %>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </dd>
            </div>
          <% end %>
        </dl>
      </div>
    </div>
  <% else %>
    <h3 class="text-lg font-medium leading-6 text-neutral-900 dark:text-neutral-300">No recent shots</h3>
  <% end %>
<% end %>
