<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @shot.start_time %>
</p>

<p>
  <strong>Data:</strong>
  <%= @shot.data %>
</p>

<%= link_to 'Edit', edit_shot_path(@shot) %> |
<%= link_to 'Back', shots_path %>
