<% content_for(:html_title) { "Visualizer | #{@shot.profile_title}" } %>
<% content_for(:head) do %>
  <% description = render "meta_description", shot: @shot %>
  <meta name="description" content="<%= description %>">
  <meta property="og:title" content="<%= @shot.profile_title %>">
  <meta property="og:url" content="https://visualizer.coffee/shots/<%= @shot.id %>">
  <meta property="og:description" content="<%= description %>">
<% end %>
<%= render "shot_header_row" %>
<% width_class = @shot.image.attached? ? "md:w-full" : "md:w-2/3" %>
<div class="px-2 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
  <div class="flex flex-col md:flex-row">
    <div class="<%= @shot.image.attached? ? "md:w-1/2" : "md:w-full" %>">
      <%= render "details", shot: @shot, name: false %>
      <h3 class="mt-3 text-l dark:text-neutral-300">Compare</h3>
      <div class="flex flex-col mt-3" data-controller="related-shots" data-related-shots-shot-id-value="<%= @shot.id %>">
        <% if @compare_shots.present? %>
          <div class="flex-1 mb-1 <%= width_class %>">
            <select class="standard-input" data-action="related-shots#compare">
              <option>With one of your recent shots</option>
              <% @compare_shots.each do |id, title, time| %>
                <option value="<%= id %>">
                  <%= [title, time.in_time_zone(@timezone).to_formatted_s(:long)].join(" @ ") %>
                </option>
              <% end %>
            </select>
          </div>
        <% end %>
        <div class="flex-1 <%= width_class %>">
          <input class="mt-1 standard-input" type="text" data-action="related-shots#urlCompare" placeholder="With any shot via its URL">
        </div>
      </div>
    </div>
    <% if @shot.image.attached? && @shot.image.variable? %>
      <div class="mt-3 md:w-1/2 md:mt-0 md:ml-3">
        <%= link_to @shot.image, target: "_blank" do %>
          <%= image_tag @shot.image.variant(:display), class: "rounded-lg mx-auto" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<% if @chart %>
  <% if @chart.data? %>
    <div class="px-2 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div id="shot-chart"></div>
    </div>
    <% if @chart.temperature_chart.present? %>
      <div class="px-2 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div id="temperature-chart"></div>
      </div>
    <% end %>
    <script>
      window.shotData = <%== @chart.shot_chart.to_json %>;
      window.temperatureData = <%== @chart.temperature_chart.to_json %>;
      window.shotStages = <%== @chart.stages.to_json %>;
    </script>
  <% else %>
    <div class="p-4 rounded-md bg-yellow-50">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg class="w-5 h-5 text-yellow-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd" d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495ZM10 5a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5A.75.75 0 0 1 10 5Zm0 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-medium text-yellow-800">Something is missing 🤷‍♂️</h3>
          <div class="mt-2 text-sm text-yellow-700">
            <p>
              There's no data on this shot. If you think this is an error, please <a href="https://github.com/miharekar/visualizer/issues/new?template=bug_report.md" target="_blank" class="standard-link">open an issue</a> with the original shot/json file.
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end%>
<% end %>
