<li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
  <div class="w-full flex items-center justify-between p-4 space-x-4">
    <div class="flex-1 truncate">
      <div class="flex items-center space-x-1">
        <h3 class="text-gray-900 text-sm font-medium truncate">
          <%= user.name %>
        </h3>
        <% if user.premium? %>
          <%= link_to premium_index_path do %>
            <svg class="inline-block -mt-1 align-middle h-6 w-6 text-pink-600 hover:text-pink-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
            </svg>
          <% end %>
        <% end %>
      </div>
    </div>
    <img class="w-10 h-10 bg-gray-300 rounded-full flex-shrink-0" src="<%= avatar_url(user, 80) %>">
  </div>
  <div>
    <div class="-mt-px flex divide-x divide-gray-200">
      <div class="w-0 flex-1 flex">
        <a href="<%= person_path(user.slug)%>" class="relative -mr-px w-0 flex-1 inline-flex items-center justify-center py-3 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500">
          <!-- Heroicon name: eye -->
          <svg class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path>
            <path clip-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" fill-rule="evenodd"></path>
          </svg>
          <span class="ml-3"><%= pluralize(user.shots.count, "shot") %></span>
        </a>
      </div>
    </div>
  </div>
</li>
