<div id="<%= dom_id roaster %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= roaster.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= roaster.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Website:</strong>
    <%= roaster.website %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this roaster", roaster, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this roaster", edit_roaster_path(roaster), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
