<div class="bg-white shadow dark:bg-neutral-900">
  <div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <h1 class="font-serif lining-nums text-4xl font-bold leading-tight tracking-tight text-neutral-900 dark:text-neutral-100">
      Edit <%= @roaster.name %>
    </h1>
  </div>
</div>
<div class="pt-6 mx-auto max-w-7xl md:py-6 md:px-6 lg:px-8">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="px-4 sm:px-6 md:p-0 md:col-span-1">
      <div>
        <h3 class="font-medium leading-6 text-neutral-900 dark:text-neutral-100">
          You have
          <strong><%= link_to pluralize(@roaster.coffee_bags.count, "coffee bag"), coffee_bags_path(roaster_id: @roaster.id), class: "standard-link" %></strong>
          <% if @roaster.coffee_bags.archived.count > 0 %>
            (<%= @roaster.coffee_bags.archived.count %> archived)
          <% end %>
          by
          <strong><%= @roaster.name %></strong>.
        </h3>
      </div>
      <hr class="my-6 text-neutral-200 dark:text-neutral-700">
      <div data-controller="modal">
        <%= render "shared/modal" %>
        <%= button_to "Delete #{@roaster.name}", roaster_path(@roaster), method: :delete, class: "cursor-pointer inline-flex justify-center font-medium text-sm text-white border border-transparent bg-red-600 rounded-md shadow-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 w-full py-2 px-4", data: {action: "click->modal#confirm", title: "Delete #{@roaster.name}", text: "Are you sure you want to permanently delete #{@roaster.name} roaster with #{pluralize(@roaster.coffee_bags.count, "coffee bag")}? This action cannot be undone."} %>
      </div>
    </div>
    <hr class="mx-4 mt-6 md:hidden sm:mx-6 text-neutral-200 dark:text-neutral-700">
    <%= render "form", roaster: @roaster %>
  </div>
</div>
