<div class="bg-white dark:bg-black">
  <div class="bg-gradient-to-b from-terracotta-100 via-white to-white dark:from-terracotta-950 dark:via-black dark:to-black">
    <div class="px-4 pt-16 mx-auto max-w-7xl sm:pt-24 sm:px-6 lg:px-8">
      <div class="pb-16 xl:flex xl:items-center xl:justify-between">
        <div>
          <h1 class="font-serif text-4xl font-bold tracking-tight sm:text-6xl text-balance">
            <span class="text-neutral-900 dark:text-white">Upgrade to Premium for just</span>
            <span class="text-terracotta-600 dark:text-terracotta-500">€5/month</span>
            <span class="text-neutral-900 dark:text-white">or</span>
            <span class="text-terracotta-600 dark:text-terracotta-500">€50/year</span>
          </h1>
          <p class="mt-5 text-xl text-neutral-500 dark:text-neutral-200">Take your coffee journey to the next level</p>
        </div>
        <%= form_with( data:{turbo:"false"}) do |f| %>
          <%= f.submit "Subscribe now", class: "cursor-pointer mt-8 inline-flex w-full items-center justify-center rounded-md border border-transparent bg-terracotta-600 py-3 px-5 text-base font-medium text-white hover:bg-terracotta-500 sm:mt-10 sm:w-auto xl:mt-0 hover:shadow-lg hover:shadow-terracotta-500/50" %>
        <% end %>
      </div>
      <div class="pt-16 border-t border-neutral-200 xl:grid xl:grid-cols-3 xl:gap-x-8">
        <div>
          <p class="mt-2 font-serif text-3xl font-bold tracking-tight text-neutral-900 dark:text-white text-balance">Everything you need to perfect your coffee</p>
          <p class="mt-4 text-lg text-neutral-500 dark:text-neutral-200">Start your 37-day free trial today. No commitment, cancel anytime.</p>
        </div>
        <div class="mt-4 sm:mt-8 md:mt-10 md:grid md:grid-cols-2 md:gap-x-8 xl:col-span-2 xl:mt-0">
          <% first_set, second_set = @features.in_groups(2, false) %>
          <ul role="list" class="divide-y divide-neutral-200">
            <% first_set.each_with_index do |feature, i| %>
              <li class="py-4 flex<%= i == 0 ? " md:py-0 md:pb-4" : ""%>">
                <svg class="flex-shrink-0 w-6 h-6 text-terracotta-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
                <span class="ml-3 text-base text-neutral-500 dark:text-neutral-200"><%= feature %></span>
              </li>
            <% end %>
          </ul>
          <ul role="list" class="border-t divide-y divide-neutral-200 border-neutral-200 md:border-t-0">
            <% second_set.each_with_index do |feature, i| %>
              <li class="py-4 flex<%= i == 0 ? " md:border-t-0 md:py-0 md:pb-4" : ""%>">
                <svg class="flex-shrink-0 w-6 h-6 text-terracotta-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                </svg>
                <span class="ml-3 text-base text-neutral-500 dark:text-neutral-200"><%= feature %></span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="py-16 overflow-hidden bg-white dark:bg-black sm:py-24" id="coffee-bag-ai">
    <div class="px-6 mx-auto max-w-7xl lg:px-8">
      <div class="grid max-w-2xl grid-cols-1 mx-auto gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:ml-auto lg:pl-4 lg:pt-4">
          <div class="lg:max-w-lg">
            <span class="px-3 py-1 text-sm font-semibold leading-6 rounded-full text-terracotta-600 bg-terracotta-600/10 ring-1 ring-inset ring-terracotta-600/10">New</span>
            <p class="mt-2 font-serif text-3xl font-bold tracking-tight text-neutral-900 dark:text-white sm:text-4xl">Smart Coffee Import</p>
            <p class="mt-6 text-lg leading-8 text-neutral-600 dark:text-neutral-300">
              Adding information to coffee bags just got easier. No more searching for and copy-pasting information field by field.
            </p>
            <p class="mt-6 text-lg leading-8 text-neutral-600 dark:text-neutral-300">
              Just paste the URL of your coffee, and watch as Visualizer automatically extracts all the details - origin, process, variety, altitude, and more. You keep full control over what gets saved.
            </p>
            <p class="mt-6 text-lg leading-8 text-neutral-600 dark:text-neutral-300">
              Less time managing coffee data means more time enjoying your coffee.
            </p>
            <div class="mt-8">
              <%= form_with( data:{turbo:"false"}) do |f| %>
                <%= f.submit "Try it now!", class: "cursor-pointer inline-flex w-full items-center justify-center rounded-md border border-transparent bg-terracotta-600 py-3 px-5 text-base font-medium text-white hover:bg-terracotta-500 sm:w-auto hover:shadow-lg hover:shadow-terracotta-500/50" %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="flex items-start justify-end lg:order-first">
          <img src="https://visualizer-coffee.s3.eu-central-1.amazonaws.com/changelog/coffee_bag_scraping.gif" class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-neutral-400/10 sm:w-[57rem]" width="719" height="800">
        </div>
      </div>
    </div>
  </div>
  <div class="py-16 overflow-hidden bg-white dark:bg-black sm:py-24" id="instant-filters">
    <div class="mx-auto max-w-7xl md:px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-start">
        <div class="px-6 lg:px-0 lg:pr-4 lg:pt-4">
          <div class="max-w-2xl mx-auto lg:mx-0 lg:max-w-lg">
            <p class="mt-2 font-serif text-3xl font-bold tracking-tight text-neutral-900 dark:text-white sm:text-4xl">Instant Filters</p>
            <p class="mt-6 text-lg leading-8 text-neutral-600 dark:text-neutral-300">
              Remember that amazing coffee you made last month? With Instant Filters, your best shots are always just a few keystrokes away.
            </p>
            <p class="mt-6 text-lg leading-8 text-neutral-600 dark:text-neutral-300">
              No more digging through old records or trying to remember what worked before. Just type and find exactly what you're looking for - whether it's a specific bean, roaster, grinder, or that perfect profile you want to recreate.
            </p>
            <p class="mt-6 text-lg leading-8 text-neutral-600 dark:text-neutral-300">
              Turn your shot history into your personal coffee diary, helping you brew consistently amazing coffee, every single time.
            </p>
          </div>
          <div class="flex justify-center">
            <%= form_with( data:{turbo:"false"}) do |f| %>
              <%= f.submit "Get them now!", class: "cursor-pointer mt-8 inline-flex w-full items-center justify-center rounded-md border border-transparent bg-terracotta-600 py-3 px-5 text-base font-medium text-white hover:bg-terracotta-500 sm:mt-10 sm:w-auto hover:shadow-lg hover:shadow-terracotta-500/50" %>
            <% end %>
          </div>
        </div>
        <img src="https://visualizer-coffee.s3.eu-central-1.amazonaws.com/changelog/instant_filters.gif" class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-neutral-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0" width="719" height="800">
      </div>
    </div>
  </div>
  <div class="bg-terracotta-800">
    <div class="px-4 py-16 mx-auto max-w-7xl sm:py-24 sm:px-6 lg:px-8">
      <h2 class="font-serif text-4xl font-bold tracking-tight text-white">Frequently Asked Questions</h2>
      <div class="pt-10 mt-6 border-t border-terracottaborder-oxford-blue-400">
        <dl class="flex flex-col gap-y-10 md:grid md:grid-cols-2 md:grid-rows-2 md:gap-x-8 md:gap-y-8">
          <% @qas.each do |q, a| %>
            <div>
              <dt class="text-lg font-medium leading-6 text-white"><%= q %></dt>
              <dd class="mt-2 text-base text-terracotta-200"><%= faq_markdown_text_from(a, link_class:"standard-link text-terracotta-100") %></dd>
            </div>
          <% end %>
        </dl>
      </div>
    </div>
  </div>
  <div class="bg-terracotta-50 dark:bg-terracotta-950">
    <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 lg:flex lg:items-center lg:justify-between lg:py-24 lg:px-8">
      <h2 class="text-3xl font-bold tracking-tight text-terracotta-600 dark:text-terracotta-100 sm:text-4xl">
        <span class="block font-serif">Start Your Free Trial Today</span>
        <span class="block mt-2 text-xl font-normal">37 days to explore everything Premium has to offer</span>
      </h2>
      <div class="flex mt-8 lg:mt-0 lg:flex-shrink-0">
        <div class="inline-flex rounded-md shadow">
          <%= form_with( data:{turbo:"false"}) do |f| %>
            <%= f.submit "Subscribe now", class: "cursor-pointer inline-flex items-center justify-center rounded-md border border-transparent bg-terracotta-600 py-3 px-5 text-base font-medium text-white hover:bg-terracotta-500 hover:shadow-lg hover:shadow-terracotta-500/50" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
