<%
  extra_email_classes = extra_email_placeholder = extra_password_placeholder = extra_password_classes = ""
  @user.errors.each do |e|
    if e.attribute == :email && e.type == :blank
      extra_email_classes = "placeholder-red-500 border-red-500"
      extra_email_placeholder = " is required"
    elsif e.attribute == :password && e.type == :blank
      extra_password_classes = "placeholder-red-500 border-red-500"
      extra_password_placeholder = " is required"
    else
      flash[:alert] = e.full_message
    end
  end
%>

<div class="flex items-center justify-center px-4 py-12 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div>
      <%= inline_svg_tag "logo.svg", class: "w-auto h-16 mx-auto fill-current text-neutral-900 dark:text-neutral-200" %>
      <h2 class="mt-10 text-3xl font-extrabold text-center text-neutral-900 dark:text-neutral-200">
        Sign up for a new account
      </h2>
    </div>
    <%= form_with(url: registrations_url, class: "mt-8 space-y-6") do |f| %>
      <div class="-space-y-px rounded-md shadow-sm">
        <div>
          <%= f.email_field :email, value: @user.email, autofocus: true, placeholder: "Email address#{extra_email_placeholder}", autocomplete: "email", class: "#{extra_email_classes} appearance-none rounded-none relative block w-full px-3 py-2 text-neutral-700 dark:text-neutral-300 placeholder:text-neutral-500 dark:placeholder:text-neutral-400 bg-white dark:bg-neutral-800 border border-neutral-300 dark:border-neutral-600 rounded-t-md focus:outline-none focus:ring-oxford-blue-500 focus:border-oxford-blue-500 focus:z-10 sm:text-sm" %>
        </div>
        <div>
          <%= f.password_field :password, placeholder: "Password#{extra_password_placeholder} (min 8 characters)", autocomplete: "new-password", class: "#{extra_password_classes} appearance-none rounded-none relative block w-full px-3 py-2 text-neutral-700 dark:text-neutral-300 placeholder:text-neutral-500 dark:placeholder:text-neutral-400 bg-white dark:bg-neutral-800 border border-neutral-300 dark:border-neutral-600 focus:outline-none focus:ring-oxford-blue-500 focus:border-oxford-blue-500 focus:z-10 sm:text-sm" %>
        </div>
        <div>
          <%= f.password_field :password_confirmation, placeholder: "Password confirmation", autocomplete: "new-password", class: "#{extra_password_classes} appearance-none rounded-none relative block w-full px-3 py-2 text-neutral-700 dark:text-neutral-300 placeholder:text-neutral-500 dark:placeholder:text-neutral-400 bg-white dark:bg-neutral-800 border border-neutral-300 dark:border-neutral-600 rounded-b-md focus:outline-none focus:ring-oxford-blue-500 focus:border-oxford-blue-500 focus:z-10 sm:text-sm" %>
        </div>
      </div>
      <div>
        <button class="relative flex justify-center w-full px-4 py-2 text-sm font-medium text-white border border-transparent rounded-md group bg-terracotta-600 hover:bg-terracotta-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-terracotta-500" type="submit">
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <!-- Heroicon name: lock-closed -->
            <svg class="w-5 h-5 text-terracotta-500 group-hover:text-terracotta-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path clip-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" fill-rule="evenodd"></path>
            </svg>
          </span>
          Sign up
        </button>
      </div>
    <% end %>
  </div>
</div>
