<div id="<%= dom_id coffee_bag %>" class="flex flex-col col-span-1 rounded dark:border-neutral-700 dark:text-neutral-200 <%= coffee_bag.archived? ? 'opacity-40 border-x border-t border-neutral-200' : 'shadow dark:shadow-none dark:border-x dark:border-t' %> <%= coffee_bag.frozen? ? 'bg-sky-100/25 dark:bg-sky-900/25' : '' %>">
  <div class="relative w-full h-full dark:hover:bg-neutral-800/25 hover:bg-neutral-100/25">
    <%= link_to shots_path(coffee_bag: coffee_bag) do %>
      <span class="absolute inset-x-0 bottom-0 -top-px z-10"></span>
    <% end %>
    <% if coffee_bag.image.attached? && coffee_bag.image.variable? %>
      <div class="relative w-full aspect-square">
        <%= image_tag coffee_bag.image.variant(:display), class: " object-cover object-center w-full h-full" %>
      </div>
    <% end %>
    <div class="flex flex-col flex-1 p-8">
      <div class="relative group">
        <h3 class="mt-3 text-lg font-semibold leading-6">
          <div>
            <%= coffee_bag.name %>
            <% if coffee_bag.canonical_coffee_bag_id %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="inline-flex align-middle size-4">
                <path fill-rule="evenodd" d="M8.5 1.709a.75.75 0 0 0-1 0 8.963 8.963 0 0 1-4.84 2.217.75.75 0 0 0-.654.72 10.499 10.499 0 0 0 5.647 9.672.75.75 0 0 0 .694-.001 10.499 10.499 0 0 0 5.647-9.672.75.75 0 0 0-.654-.719A8.963 8.963 0 0 1 8.5 1.71Zm2.34 5.504a.75.75 0 0 0-1.18-.926L7.394 9.17l-1.156-.99a.75.75 0 1 0-.976 1.138l1.75 1.5a.75.75 0 0 0 1.078-.106l2.75-3.5Z" clip-rule="evenodd" />
              </svg>
            <% end %>
          </div>
        </h3>
        <div class="mt-2 prose prose-neutral dark:prose-invert">
          <table>
            <tr class="relative z-20">
              <td>Roaster</td>
              <td><%= link_to coffee_bag.roaster.name, edit_roaster_path(coffee_bag.roaster) %></td>
            </tr>
            <% if coffee_bag.roast_date.present? %>
              <tr>
                <td>Roasted on</td>
                <td><%= time_tag coffee_bag.roast_date, format: :long %></td>
              </tr>
            <% end %>
            <% if coffee_bag.frozen_date.present? %>
              <tr>
                <td>Frozen on</td>
                <td><%= time_tag coffee_bag.frozen_date, format: :long %></td>
              </tr>
              <% if coffee_bag.defrosted_date.present? %>
                <tr>
                  <td>Defrosted on</td>
                  <td><%= time_tag coffee_bag.defrosted_date, format: :long %></td>
                </tr>
              <% end %>
            <% end %>
            <% CoffeeBag::DISPLAY_ATTRIBUTES.each do |attribute| %>
              <%= metadata_pair(attribute.underscore.humanize, coffee_bag.send(attribute)) %>
            <% end %>
          </table>
        </div>
        <% if coffee_bag.notes.present? %>
          <hr class="my-2 text-neutral-200 dark:text-neutral-700">
          <%= markdown_text_from(coffee_bag.notes) %>
        <% end %>
      </div>
    </div>
  </div>
  <% search_params = {roaster: params[:roaster], coffee: params[:coffee]}.compact_blank %>
  <div class="border-y border-neutral-200 dark:border-neutral-700">
    <div class="flex divide-x divide-neutral-200 dark:divide-neutral-700">
      <div class="flex flex-1 dark:hover:bg-neutral-800/25 hover:bg-neutral-100/25">
        <%= link_to edit_coffee_bag_path(coffee_bag), class: "inline-flex items-center justify-center flex-1 p-4 text-sm border border-transparent gap-x-3" do %>
          <svg class="size-4 text-neutral-500 dark:text-neutral-300" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.013 2.513a1.75 1.75 0 0 1 2.475 2.474L6.226 12.25a2.751 2.751 0 0 1-.892.596l-2.047.848a.75.75 0 0 1-.98-.98l.848-2.047a2.75 2.75 0 0 1 .596-.892l7.262-7.261Z" clip-rule="evenodd" />
          </svg>
          Edit
        <% end %>
      </div>
      <% if !coffee_bag.archived? && coffee_bag.frozen_date.blank? %>
        <div class="flex flex-1 dark:hover:bg-sky-900/25 hover:bg-sky-100/25">
          <%= button_to freeze_coffee_bag_path(coffee_bag, **search_params), form_class: "flex flex-1", class: "cursor-pointer inline-flex items-center justify-center flex-1 p-4 text-sm border border-transparent gap-x-3" do %>
            <svg class="size-4 shrink-0 text-neutral-700 dark:text-neutral-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" fill="currentColor" aria-hidden="true">
              <path d="M352.2 64C352.2 46.3 337.9 32 320.2 32C302.5 32 288.2 46.3 288.2 64L288.2 126.1L273.2 111.1C263.8 101.7 248.6 101.7 239.3 111.1C230 120.5 229.9 135.7 239.3 145L288.3 194L288.3 264.6L227.1 229.3L209.2 162.4C205.8 149.6 192.6 142 179.8 145.4C167 148.8 159.3 162 162.7 174.8L168.2 195.3L114.5 164.3C99.2 155.5 79.6 160.7 70.8 176C62 191.3 67.2 210.9 82.5 219.7L136.2 250.7L115.7 256.2C102.9 259.6 95.3 272.8 98.7 285.6C102.1 298.4 115.3 306 128.1 302.6L195 284.7L256.2 320L195 355.3L128.1 337.4C115.3 334 102.1 341.6 98.7 354.4C95.3 367.2 102.9 380.4 115.7 383.8L136.2 389.3L82.5 420.3C67.2 429.1 62 448.7 70.8 464C79.6 479.3 99.2 484.6 114.5 475.7L168.2 444.7L162.7 465.2C159.3 478 166.9 491.2 179.7 494.6C192.5 498 205.7 490.4 209.1 477.6L227 410.7L288.2 375.4L288.2 446L239.2 495C229.8 504.4 229.8 519.6 239.2 528.9C248.6 538.2 263.8 538.3 273.1 528.9L288.1 513.9L288.1 576C288.1 593.7 302.4 608 320.1 608C337.8 608 352.1 593.7 352.1 576L352.1 513.9L367.1 528.9C376.5 538.3 391.7 538.3 401 528.9C410.3 519.5 410.4 504.3 401 495L352 446L352 375.4L413.2 410.7L431.1 477.6C434.5 490.4 447.7 498 460.5 494.6C473.3 491.2 480.9 478 477.5 465.2L472 444.7L525.7 475.7C541 484.5 560.6 479.3 569.4 464C578.2 448.7 573 429.1 557.7 420.3L504 389.3L524.5 383.8C537.3 380.4 544.9 367.2 541.5 354.4C538.1 341.6 524.9 334 512.1 337.4L445.2 355.3L384 320L445.2 284.7L512.1 302.6C524.9 306 538.1 298.4 541.5 285.6C544.9 272.8 537.3 259.6 524.5 256.2L504 250.7L557.7 219.7C573 210.9 578.3 191.3 569.4 176C560.5 160.7 541 155.5 525.7 164.3L472 195.3L477.5 174.8C480.9 162 473.3 148.8 460.5 145.4C447.7 142 434.5 149.6 431.1 162.4L413.2 229.3L352 264.6L352 194L401 145C410.4 135.6 410.4 120.4 401 111.1C391.6 101.8 376.4 101.7 367.1 111.1L352.1 126.1L352.1 64z" />
            </svg>
            Freeze
          <% end %>
        </div>
      <% elsif coffee_bag.frozen? %>
        <div class="flex flex-1 dark:hover:bg-red-900/25 hover:bg-red-100/25">
          <%= button_to defrost_coffee_bag_path(coffee_bag, **search_params), form_class: "flex flex-1", class: "cursor-pointer inline-flex items-center justify-center flex-1 p-4 text-sm border border-transparent gap-x-3" do %>
            <svg class="size-4 shrink-0 text-neutral-700 dark:text-neutral-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" fill="currentColor" aria-hidden="true">
              <path d="M128.5 160C128.5 107 171.5 64 224.5 64C277.5 64 320.5 107 320.5 160L320.5 324.7C350 351.1 368.5 389.4 368.5 432C368.5 511.5 304 576 224.5 576C145 576 80.5 511.5 80.5 432C80.5 389.4 99 351 128.5 324.7L128.5 160zM224.5 496C259.8 496 288.5 467.3 288.5 432C288.5 405.1 272 382.1 248.5 372.7L248.5 160C248.5 146.7 237.8 136 224.5 136C211.2 136 200.5 146.7 200.5 160L200.5 372.7C177 382.2 160.5 405.2 160.5 432C160.5 467.3 189.2 496 224.5 496zM503.1 73.4L567.1 137.4C579.6 149.9 579.6 170.2 567.1 182.7C554.6 195.2 534.3 195.2 521.8 182.7L512.4 173.3L512.4 352C512.4 369.7 498.1 384 480.4 384C462.7 384 448.4 369.7 448.4 352L448.4 173.3L439 182.7C426.5 195.2 406.2 195.2 393.7 182.7C381.2 170.2 381.2 149.9 393.7 137.4L457.7 73.4C463.7 67.4 471.8 64 480.3 64C488.8 64 496.9 67.4 502.9 73.4z" />
            </svg>
            Defrost
          <% end %>
        </div>
      <% end %>
      <% if coffee_bag.archived? %>
        <div class="flex flex-1 dark:hover:bg-neutral-800/25 hover:bg-neutral-100/25">
          <%= button_to restore_coffee_bag_path(coffee_bag, **search_params), form_class: "flex flex-1", class: "cursor-pointer inline-flex items-center justify-center flex-1 p-4 text-sm border border-transparent gap-x-3" do %>
            <svg class="size-4 text-neutral-500 dark:text-neutral-300" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M13.836 2.477a.75.75 0 0 1 .75.75v3.182a.75.75 0 0 1-.75.75h-3.182a.75.75 0 0 1 0-1.5h1.37l-.84-.841a4.5 4.5 0 0 0-7.08.932.75.75 0 0 1-1.3-.75 6 6 0 0 1 9.44-1.242l.842.84V3.227a.75.75 0 0 1 .75-.75Zm-.911 7.5A.75.75 0 0 1 13.199 11a6 6 0 0 1-9.44 1.241l-.84-.84v1.371a.75.75 0 0 1-1.5 0V9.591a.75.75 0 0 1 .75-.75H5.35a.75.75 0 0 1 0 1.5H3.98l.841.841a4.5 4.5 0 0 0 7.08-.932.75.75 0 0 1 1.025-.273Z" clip-rule="evenodd" />
            </svg>
            Restore
          <% end %>
        </div>
      <% else %>
        <div class="flex flex-1 dark:hover:bg-neutral-800/25 hover:bg-neutral-100/25">
          <%= button_to archive_coffee_bag_path(coffee_bag, **search_params), form_class: "flex flex-1", class: "cursor-pointer inline-flex items-center justify-center flex-1 p-4 text-sm border border-transparent gap-x-3" do %>
            <svg class="size-4 text-neutral-500 dark:text-neutral-300" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 2a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H3Z" />
              <path fill-rule="evenodd" d="M3 6h10v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V6Zm3 2.75A.75.75 0 0 1 6.75 8h2.5a.75.75 0 0 1 0 1.5h-2.5A.75.75 0 0 1 6 8.75Z" clip-rule="evenodd" />
            </svg>
            Archive
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
