<div class="bg-white shadow dark:bg-neutral-900">
  <div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold leading-tight text-neutral-900 dark:text-neutral-100">
      Edit <%= @coffee_bag.name %> by <%= @roaster.name %>
    </h1>
  </div>
</div>
<div class="py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-neutral-900 dark:text-neutral-100">
          You made <%=  @coffee_bag.shots.count %> shots with <%= @coffee_bag.name %>
        </h3>
        <p class="mt-1 text-sm text-neutral-600 dark:text-neutral-400">
          <%= link_to "View shots", shots_path(coffee_bag: @coffee_bag), class: "standard-link" %> with this coffee bag.
        </p>
      </div>
    </div>
    <%= render "form", coffee_bag: @coffee_bag %>
  </div>
</div>
