<% content_for(:html_title) { "Visualizer | Coffee Bags" } %>
<div class="flex flex-col px-4 mx-auto my-6 gap-y-6 max-w-7xl sm:px-6 lg:px-8">
  <div class="flex flex-row justify-between gap-2">
    <div>
      <h1 class="pr-2 font-serif lining-nums text-4xl font-bold tracking-tight leading-tight text-neutral-900 dark:text-neutral-100">
        Coffee Bags
      </h1>
    </div>
    <div class="flex gap-2">
      <%= link_to new_roaster_path, class: "px-3 py-2 items-center button-white hidden! sm:flex! sm:ml-auto" do %>
        <svg class="-ml-1.5 size-5" viewBox="0 0 20 20" fill="currentColor">
          <path d="M10.75 6.75a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z" />
        </svg>
        <span class="text-nowrap ml-1">New Roaster</span>
      <% end %>
      <%= link_to new_coffee_bag_path(roaster_id: params[:roaster_id]), class: "px-3 py-2 items-center button-white flex sm:ml-auto" do %>
        <svg class="sm:-ml-1 size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" >
          <path d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z" />
        </svg>
        <span class="hidden sm:block text-nowrap ml-1">New Coffee Bag</span>
      <% end %>
    </div>
  </div>
  <% if @coffee_bags.any? %>
    <div>
      <%= form_with(url: search_coffee_bags_path, data: {controller: "search", search_target: "form"}) do |f| %>
        <div class="grid grid-cols-12 gap-3">
          <div class="col-span-6 md:col-span-3">
            <%= f.label :roaster, class: "standard-label" %>
            <%= f.search_field :roaster, value: params[:roaster], class: "mt-1 standard-input", data: {action: "search#submit"} %>
          </div>
          <div class="col-span-6 md:col-span-3">
            <%= f.label :coffee, class: "standard-label" %>
            <%= f.search_field :coffee, value: params[:coffee], class: "mt-1 standard-input", data: {action: "search#submit"} %>
          </div>
        </div>
      <% end %>
    </div>
    <div data-controller="modal">
      <%= render "shared/modal" %>
      <div id="coffee-bags"  class="max-w-2xl mx-auto grid grid-cols-1 gap-8 sm:mx-0 sm:max-w-none md:grid-cols-2 lg:grid-cols-3">
        <%= render @coffee_bags %>
      </div>
      <%= render partial: "shared/offset_loader", locals: { offset: @offset, path: coffee_bags_path(params.permit(:roaster_id, :roaster, :coffee).merge(offset: @offset, format: :turbo_stream)) } %>
    </div>
  <% else %>
    <div class="pt-12 text-center text-neutral-500">
      No coffee bags yet 😢
      <div class="mt-4">
        <%= link_to new_coffee_bag_path(roaster_id: params[:roaster_id]), class: "px-3 py-2 items-center button-white inline-flex" do %>
          <svg class="-ml-1.5 size-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10.75 6.75a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z" />
          </svg>
          Add your first Coffee Bag
        <% end %>
      </div>
    </div>
  <% end %>
</div>
