<% if @replace %>
  <%= turbo_stream.update "coffee-bags" do %>
    <% if @coffee_bags.any? %>
      <%= render partial: "coffee_bag", collection: @coffee_bags, cached: true %>
    <% else %>
      <div class="col-span-12 pt-12 text-center text-neutral-500">
        No coffee bags found 😢
      </div>
    <% end %>
  <% end %>
<% else %>
  <%= turbo_stream.append "coffee-bags" do %>
    <%= render partial: "coffee_bag", collection: @coffee_bags, cached: true %>
  <% end %>
<% end %>
<%= turbo_stream.replace "offset_pagination" do %>
  <%= render partial: "shared/offset_loader", locals: { offset: @offset, path: coffee_bags_path(params.permit(:roaster_id, :roaster, :coffee).merge(offset: @offset, format: :turbo_stream)) } %>
<% end %>
