<% content_for(:html_title) { "Visualizer | #{@roaster.name} Coffee Bags" } %>
<div class="flex flex-col px-4 mx-auto my-6 gap-y-6 max-w-7xl sm:px-6 lg:px-8">
  <div class="flex flex-row justify-between gap-2">
    <div>
      <h1 class="pr-2 font-serif text-4xl font-bold tracking-tight text-neutral-900 dark:text-neutral-100 overflow-clip">
        <%= @roaster.name %> Coffee Bags
      </h1>
    </div>
    <%= link_to new_roaster_coffee_bag_path, class: "button-white flex sm:ml-auto" do %>
      <svg class="-ml-1.5 size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path d="M10.75 6.75a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z" />
      </svg>
      New <span class="hidden sm:block">&nbsp;Coffee Bag</span>
    <% end %>
  </div>
  <% if @coffee_bags.any? %>
    <div>
      <%= form_with(url: search_roaster_coffee_bags_path, data: {controller: "search", search_target: "form"}) do |f| %>
        <div class="grid grid-cols-12 gap-3">
          <div class="col-span-6 md:col-span-3">
            <%= f.label :coffee, class: "standard-label" %>
            <%= f.search_field :coffee, value: params[:coffee], class: "mt-1 standard-input", data: {action: "search#submit"} %>
          </div>
        </div>
      <% end %>
    </div>
    <div data-controller="modal">
      <%= render "shared/modal" %>
      <div id="coffee-bags"  class="max-w-2xl mx-auto grid grid-cols-1 gap-8 sm:mx-0 sm:max-w-none md:grid-cols-2 lg:grid-cols-3">
        <%= render @coffee_bags %>
      </div>
    </div>
  <% else %>
    <div class="pt-12 text-center text-neutral-500">
      No coffee bags yet 😢
      <div class="mt-4">
        <%= link_to new_roaster_coffee_bag_path, class: "button-white inline-flex" do %>
          <svg class="-ml-1.5 size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path d="M10.75 6.75a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z" />
          </svg>
          Add your first Coffee Bag
        <% end %>
      </div>
    </div>
  <% end %>
</div>
