<div class="flex w-full mx-auto md:w-2/3">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="inline-block px-3 py-2 mb-5 font-medium text-green-500 rounded-lg bg-green-50" id="notice"><%= notice %></p>
    <% end %>

    <%= render @coffee_bag %>

    <%= link_to "Edit this coffee_bag", edit_roaster_coffee_bag_path(@coffee_bag.roaster, @coffee_bag), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this coffee_bag", roaster_coffee_bag_path(@coffee_bag.roaster, @coffee_bag), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to coffee_bags", roaster_coffee_bags_path(@coffee_bag.roaster), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
