<nav class="bg-white border-b border-neutral-200 dark:border-neutral-800 dark:bg-neutral-950" data-controller="menu">
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="flex items-center flex-shrink-0">
          <a class="focus:outline-neutral-500" href="<%= user_signed_in? ? shots_path : root_path %>">
            <svg class="w-10 fill-current stroke-current text-neutral-900 dark:text-neutral-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92.98 84.25">
              <g id="logo-steam">
                <path fill="none" stroke-dasharray="18" stroke-dashoffset="54" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3" d="M37.25 21.58c-.09-.15-2.6-4.45-.21-8.06 3.07-3.95.34-8.48.21-8.69M45.69 21.58c-.09-.15-2.6-4.45-.21-8.06 3.07-3.95.34-8.48.21-8.69M54.14 21.58c-.09-.15-2.6-4.45-.21-8.06 3.07-3.95.34-8.48.21-8.69"/>
              </g>
              <path d="M75.28 34.93v9.76a4.88 4.88 0 0 0 0-9.76Z"/>
              <path d="M75.67 27.78H10.05a2.29 2.29 0 0 0-2.3 2.29v11.87c0 1.29.08 2.58.19 3.8a36.22 36.22 0 0 0 2.16 8.89c0 .07 0 .15.06.21a38.2 38.2 0 0 0 2.71 5.61c.53.89 1.08 1.69 1.58 2.41A27.55 27.55 0 0 0 17.93 67c.55.57 1.1 1.08 1.67 1.6s1.2 1 1.82 1.55a37.7 37.7 0 0 0 3.93 2.67 30.19 30.19 0 0 0 3.18 1.67c.88.42 1.79.8 2.72 1.14s2.1.7 3.18 1c.83.2 1.65.39 2.5.55a27.28 27.28 0 0 0 3.19.47c.87.09 1.74.13 2.62.15h.64c.74 0 1.92 0 2.64-.08s1.66-.15 2.52-.26a34.21 34.21 0 0 0 5.78-1.31c1.1-.34 2.16-.74 3.21-1.17a25.6 25.6 0 0 0 2.59-1.24 36.75 36.75 0 0 0 3.21-1.87 40.2 40.2 0 0 0 5.78-4.74A34.51 34.51 0 0 0 74.59 60a35.19 35.19 0 0 0 3.55-8.33 12.08 12.08 0 0 0-2.47-23.85Zm.63 19.49A2.3 2.3 0 0 0 74 49a30 30 0 0 1-3.43 8.59c-.45.79-1 1.57-1.48 2.33V47.39a1.59 1.59 0 1 0-3.18 0v16.4c-.65.66-1.35 1.31-2.05 1.91l-.55.46V51.94a1.61 1.61 0 0 0-3.21 0v16.49c-.83.53-1.7 1-2.59 1.48V56.66a1.61 1.61 0 0 0-3.21 0v14.62a27.18 27.18 0 0 1-2.6.83v-17.9a1.59 1.59 0 1 0-3.18 0v18.58a23.31 23.31 0 0 1-2.6.31V51.18a1.6 1.6 0 0 0-3.2 0v22a25.42 25.42 0 0 1-2.58-.18V49A1.6 1.6 0 0 0 37 49v23.47a23.48 23.48 0 0 1-2.5-.64V45.19a1.59 1.59 0 1 0-3.18 0v25.48c-.35-.15-.71-.3-1.05-.47l-1-.5a7.64 7.64 0 0 1-.69-.38V51.5a1.59 1.59 0 1 0-3.18 0v15.8l-.12-.08c-.58-.46-1.15-.91-1.7-1.37-.25-.2-.5-.41-.72-.62v-9.84a1.61 1.61 0 0 0-3.21 0v6.48a32.81 32.81 0 0 1-3.05-4.32 30.36 30.36 0 0 1-4-12.18v-.13a31.66 31.66 0 0 1-.17-3.3v-9.55h63.24a7.46 7.46 0 0 1 .63 14.88Z"/>
            </svg>
          </a>
        </div>
        <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
          <% if user_signed_in? %>
            <%= active_link_to "Your Shots", shots_path, class: "inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium focus:outline-terracotta-500", active: :exclusive, class_active: "border-terracotta-500 text-neutral-900 dark:text-neutral-200", class_inactive: "border-transparent text-neutral-500 dark:text-neutral-400 hover:text-neutral-700 dark:hover:text-neutral-300 hover:border-neutral-300" %>
            <%= active_link_to "Community", community_index_path, class: "inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium focus:outline-terracotta-500", active: :exclusive, class_active: "border-terracotta-500 text-neutral-900 dark:text-neutral-200", class_inactive: "border-transparent text-neutral-500 dark:text-neutral-400 hover:text-neutral-700 dark:hover:text-neutral-300 hover:border-neutral-300" %>
          <% else %>
            <%= active_link_to "Community", community_index_path, class: "inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium focus:outline-terracotta-500", active: :exclusive, class_active: "border-terracotta-500 text-neutral-900 dark:text-neutral-200", class_inactive: "border-transparent text-neutral-500 dark:text-neutral-400 hover:text-neutral-700 dark:hover:text-neutral-300 hover:border-neutral-300" %>
            <%= active_link_to "Updates", updates_path, class: "inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium focus:outline-terracotta-500", active: :exclusive, class_active: "border-terracotta-500 text-neutral-900 dark:text-neutral-200", class_inactive: "border-transparent text-neutral-500 dark:text-neutral-400 hover:text-neutral-700 dark:hover:text-neutral-300 hover:border-neutral-300" %>
          <% end %>
        </div>
      </div>
      <% if user_signed_in? %>
        <div class="items-center hidden sm:ml-6 sm:flex">
          <div class="relative ml-3">
            <div>
              <button type="button" class="relative flex items-center max-w-xs text-sm bg-white rounded focus:outline-none focus:ring-2 focus:ring-terracotta-500 focus:ring-offset-2 dark:ring-offset-black" data-action="click->menu#transform click@window->menu#hide" data-menu-target="button">
                <span class="absolute -inset-1.5"></span>
                <img class="w-8 h-8 rounded" src="<%= avatar_url(current_user, 64) %>">
              </button>
              <% if update_count > 0 %>
                <span class="absolute top-0 right-0 inline-block w-3 h-3 transform translate-x-1/2 -translate-y-1/2 rounded-full bg-terracotta-600"></span>
              <% end %>
            </div>
            <div class="absolute right-0 z-10 hidden w-56 mt-2 origin-top-right bg-white divide-y rounded-md shadow-lg divide-neutral-100 dark:divide-neutral-800 dark:bg-neutral-950 ring-1 ring-black ring-opacity-5 focus:outline-none" data-menu-target="transformable" data-transition-enter="transition ease-out duration-200" data-transition-enter-end="transform opacity-100 scale-100" data-transition-enter-start="transform opacity-0 scale-95" data-transition-leave="transition ease-in duration-75" data-transition-leave-end="transform opacity-0 scale-95" data-transition-leave-start="transform opacity-100 scale-100">
              <div class="px-4 py-3 text-neutral-900 dark:text-neutral-100">
                <p class="text-sm" >Signed in as</p>
                <p class="text-sm font-medium truncate">
                  <%= current_user.display_name %>
                </p>
              </div>
              <div class="py-1">
                <%= link_to "Edit Profile", edit_profiles_path, class: "block px-4 py-2 text-sm text-neutral-700 dark:text-neutral-200 bg-white dark:bg-neutral-950 hover:bg-neutral-100 dark:hover:bg-neutral-800" %>
                <% if current_user.stripe_customer_id.present? %>
                  <%= link_to "Manage Subscription", manage_premium_index_path, class: "block w-full text-left cursor-pointer px-4 py-2 text-sm text-neutral-700 dark:text-neutral-200 bg-white dark:bg-neutral-950 hover:bg-neutral-100 dark:hover:bg-neutral-800" %>
                <% end %>
                <% if !current_user.premium? %>
                  <%= link_to "Upgrade to Premium", premium_index_path, class: "block px-4 py-2 text-sm text-neutral-700 dark:text-neutral-200 bg-white dark:bg-neutral-950 hover:bg-neutral-100 dark:hover:bg-neutral-800" %>
                <% end %>
                <% if current_user.premium? && !current_user.identities.exists?(provider: "airtable") %>
                  <%= button_to "Connect Airtable", user_airtable_omniauth_authorize_path, class: "block px-4 py-2 w-full text-left text-sm text-neutral-700 dark:text-neutral-200 bg-white dark:bg-neutral-950 hover:bg-neutral-100 dark:hover:bg-neutral-800", data: {turbo: false} %>
                <% end %>
                <% if current_user.developer? %>
                  <%= link_to "OAuth Applications", oauth_applications_path, class: "block px-4 py-2 text-sm text-neutral-700 dark:text-neutral-200 bg-white dark:bg-neutral-950 hover:bg-neutral-100 dark:hover:bg-neutral-800", data: {turbo: false} %>
                <% end %>
              </div>
              <div class="py-1">
                <%= link_to updates_path, class: "block px-4 py-2 bg-white dark:bg-neutral-950 hover:bg-neutral-100 dark:hover:bg-neutral-800" do %>
                  <div class="flex">
                    <div class="text-sm grow text-neutral-700 dark:text-neutral-200">Updates</div>
                    <% if update_count > 0 %>
                      <div class="w-5 h-5 rounded-full bg-terracotta-600">
                        <div class="text-sm text-center text-white dark:text-black"><%= update_count %></div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="py-1">
                <%= link_to "Sign Out", destroy_user_session_path, class: "block w-full text-left cursor-pointer px-4 py-2 text-sm text-neutral-700 dark:text-neutral-200 bg-white dark:bg-neutral-950 hover:bg-neutral-100 dark:hover:bg-neutral-800", data: {turbo_method: :delete} %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
          <% if controller_name != "sessions" %>
            <%= link_to "Sign In", new_user_session_path, class: "inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-transparent text-neutral-500 dark:text-neutral-400 hover:text-neutral-700 dark:hover:text-neutral-300 hover:border-neutral-300" %>
          <% end %>
          <% if controller_name != "registrations" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-transparent text-neutral-500 dark:text-neutral-400 hover:text-neutral-700 dark:hover:text-neutral-300 hover:border-neutral-300" %>
          <% end %>
        </div>
      <% end %>
      <div class="flex items-center -mr-2 sm:hidden">
        <button type="button" class="relative inline-flex items-center justify-center p-2 bg-white dark:bg-neutral-950 text-neutral-400 dark:text-neutral-300 hover:bg-neutral-100 dark:hover:bg-neutral-700 hover:text-neutral-500 dark:hover:text-neutral-200" data-action="click->menu#toggle">
          <span class="absolute -inset-0.5"></span>
          <svg class="block w-6 h-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-menu-target="toggleable">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <svg class="hidden w-6 h-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-menu-target="toggleable">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
          <% if current_user && update_count > 0 %>
            <span class="absolute top-0 right-0 inline-block w-3 h-3 transform bg-terracotta-600 rounded-full -translate-x-1 translate-y-1.5" data-menu-target="toggleable"></span>
          <% end %>
        </button>
      </div>
    </div>
  </div>
  <div class="hidden sm:hidden" data-menu-target="toggleable">
    <div class="pt-2 pb-3 space-y-1">
      <% if user_signed_in? %>
        <%= active_link_to "Your Shots", shots_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium", active: :exclusive, class_active: "border-terracotta-500 bg-terracotta-50/50 text-terracotta-700 dark:text-terracotta-100 dark:bg-terracotta-900/5", class_inactive: "border-transparent text-neutral-600 hover:border-neutral-300 hover:bg-neutral-50 hover:text-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:hover:text-neutral-300" %>
      <% end %>
      <%= active_link_to "Community", community_index_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium", active: :exclusive, class_active: "border-terracotta-500 bg-terracotta-50/50 text-terracotta-700 dark:text-terracotta-100 dark:bg-terracotta-900/5", class_inactive: "border-transparent text-neutral-600 hover:border-neutral-300 hover:bg-neutral-50 hover:text-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:hover:text-neutral-300" %>
      <% unless user_signed_in? %>
        <%= active_link_to "Updates", updates_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium", active: :exclusive, class_active: "border-terracotta-500 bg-terracotta-50/50 text-terracotta-700 dark:text-terracotta-100 dark:bg-terracotta-900/5", class_inactive: "border-transparent text-neutral-600 hover:border-neutral-300 hover:bg-neutral-50 hover:text-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:hover:text-neutral-300" %>
      <% end %>
    </div>
    <div class="pb-3 border-t border-neutral-200 dark:border-neutral-800">
      <div class="mt-3 space-y-1">
        <%= active_link_to "Edit Profile", edit_profiles_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium", active: :exclusive, class_active: "border-terracotta-500 bg-terracotta-50/50 text-terracotta-700 dark:text-terracotta-100 dark:bg-terracotta-900/50", class_inactive: "border-transparent text-neutral-600 hover:border-neutral-300 hover:bg-neutral-50 hover:text-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:hover:text-neutral-300" %>
        <% if user_signed_in? %>
          <%= active_link_to updates_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium", active: :exclusive, class_active: "border-terracotta-500 bg-terracotta-50/50 text-terracotta-700 dark:text-terracotta-100 dark:bg-terracotta-900/50", class_inactive: "border-transparent text-neutral-600 hover:border-neutral-300 hover:bg-neutral-50 hover:text-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:hover:text-neutral-300" do %>
            <div class="flex items-center">
              <div class="grow">Updates</div>
              <% if update_count > 0 %>
                <div class="w-5 h-5 rounded-full bg-terracotta-600">
                  <div class="text-sm text-center text-white">
                    <%= update_count %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
          <% if current_user.stripe_customer_id.present? %>
            <%= link_to "Manage Subscription", manage_premium_index_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-neutral-600 hover:border-neutral-300 hover:bg-neutral-50 hover:text-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:hover:text-neutral-300" %>
          <% end %>
          <% unless current_user.premium? %>
            <%= active_link_to "Upgrade to Premium", premium_index_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium", active: :exclusive, class_active: "border-terracotta-500 bg-terracotta-50/50 text-terracotta-700 dark:text-terracotta-100 dark:bg-terracotta-900/50", class_inactive: "border-transparent text-neutral-600 hover:border-neutral-300 hover:bg-neutral-50 hover:text-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:hover:text-neutral-300" %>
          <% end %>
          <%= link_to "Sign Out", destroy_user_session_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-neutral-600 hover:border-neutral-300 hover:bg-neutral-50 hover:text-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:hover:text-neutral-300", data: {turbo_method: :delete} %>
        <% else %>
          <% if controller_name != "sessions" %>
            <%= link_to "Sign In", new_user_session_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-neutral-600 hover:border-neutral-300 hover:bg-neutral-50 hover:text-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:hover:text-neutral-300" %>
          <% end %>
          <% if controller_name != "registrations" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-neutral-600 hover:border-neutral-300 hover:bg-neutral-50 hover:text-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:hover:text-neutral-300" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
