<nav class="bg-white border-b border-neutral-200 dark:border-neutral-800 dark:bg-neutral-950" data-controller="menu">
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="flex items-center flex-shrink-0">
          <a class="focus:outline-neutral-500" href="<%= user_signed_in? ? shots_path : root_path %>">
            <svg class="w-auto h-8 fill-current text-neutral-900 dark:text-neutral-200 hover:text-neutral-600 dark:hover:text-neutral-400" xmlns="http://www.w3.org/2000/svg" viewBox="186.3 177.79 79.82 74.45">
              <path d="M214.52 196.83c.28.45.77.69 1.26.69.27 0 .55-.07.8-.23.7-.44.91-1.36.47-2.06-.09-.15-2.2-3.63-.04-6.72 3.32-4.74.17-9.82.04-10.03-.44-.7-1.37-.9-2.07-.46-.7.44-.91 1.37-.46 2.07.02.03 2.22 3.59.04 6.71-3.32 4.74-.17 9.82-.04 10.03zm8.45 0c.28.45.77.69 1.26.69.27 0 .55-.07.8-.23.7-.44.91-1.36.47-2.06-.09-.15-2.2-3.63-.04-6.72 3.32-4.74.17-9.82.04-10.03-.44-.7-1.37-.9-2.07-.46-.7.44-.91 1.37-.46 2.07.02.03 2.22 3.59.04 6.71-3.32 4.74-.18 9.82-.04 10.03zm8.45 0c.28.45.77.69 1.26.69.27 0 .55-.07.8-.23.7-.44.91-1.36.47-2.06-.09-.15-2.2-3.63-.04-6.72 3.32-4.74.17-9.82.04-10.03-.44-.7-1.37-.9-2.07-.46-.7.44-.91 1.37-.46 2.07.02.03 2.22 3.59.04 6.71-3.32 4.74-.18 9.82-.04 10.03zm22.4 12.55v9.77c2.64 0 4.78-2.18 4.78-4.87 0-2.7-2.15-4.9-4.78-4.9z" />
              <path d="M254.22 202.24h-65.63c-1.27 0-2.29 1.02-2.29 2.29v11.87c0 1.29.08 2.58.19 3.79.34 3.07 1.08 6.05 2.16 8.89l-.02.02c.02.08.04.15.06.21.83 2.14 1.76 4.02 2.71 5.61.53.89 1.08 1.69 1.57 2.41 1.82 2.54 3.36 3.93 3.51 4.08l.02.02c.55.57 1.1 1.08 1.67 1.59.59.53 1.19 1.04 1.82 1.55 1.25.97 2.56 1.86 3.93 2.67 1.04.63 2.1 1.18 3.19 1.67.87.42 1.78.8 2.71 1.14 1.04.38 2.1.7 3.19 1 .83.21 1.65.4 2.5.55 1.06.23 2.12.38 3.19.47.87.09 1.74.13 2.62.15.21.02.44.02.64.02.74 0 1.92-.02 2.64-.08.83-.08 1.67-.15 2.52-.27 1.06-.15 2.14-.34 3.19-.59.89-.21 1.74-.46 2.6-.72 1.1-.34 2.16-.74 3.2-1.18.89-.36 1.74-.78 2.6-1.23 1.1-.57 2.16-1.19 3.2-1.88.89-.59 1.76-1.23 2.6-1.9.32-.25.63-.51.93-.78.78-.66 1.54-1.35 2.26-2.07 2.14-2.14 3.96-4.55 5.46-7.17 1.54-2.62 2.73-5.4 3.55-8.32 5.39-1.16 9.41-6.05 9.41-11.81-.03-6.6-5.36-12-11.9-12zm.62 19.49c-1.06 0-2.01.7-2.26 1.76-.7 3.03-1.84 5.92-3.43 8.59-.46.8-.95 1.57-1.48 2.33v-12.57c0-.89-.7-1.59-1.59-1.59-.89 0-1.59.7-1.59 1.59v16.4c-.64.66-1.35 1.31-2.05 1.92-.19.15-.38.3-.55.46V226.4c0-.87-.72-1.59-1.61-1.59-.87 0-1.59.72-1.59 1.59v16.5c-.83.53-1.71 1.02-2.6 1.48v-13.25c0-.87-.72-1.59-1.61-1.59-.87 0-1.59.72-1.59 1.59v14.62c-.85.32-1.71.59-2.6.83v-17.9c0-.89-.7-1.59-1.59-1.59-.89 0-1.59.7-1.59 1.59v18.58c-.85.15-1.74.25-2.6.3v-21.92c0-.87-.72-1.59-1.59-1.59-.89 0-1.61.72-1.61 1.59v22c-.87-.02-1.74-.08-2.62-.17v-24.02c0-.87-.72-1.59-1.59-1.59-.87 0-1.59.72-1.59 1.59v23.49c-.85-.17-1.69-.38-2.5-.64v-26.64c0-.87-.72-1.59-1.59-1.59-.87 0-1.59.72-1.59 1.59v25.48c-.34-.15-.7-.3-1.04-.47-.34-.15-.66-.32-.99-.49-.23-.13-.46-.25-.68-.38v-17.82c0-.87-.7-1.59-1.59-1.59-.87 0-1.59.72-1.59 1.59v15.8c-.04-.02-.08-.06-.11-.08-.59-.46-1.16-.91-1.71-1.37-.25-.21-.49-.42-.72-.63v-9.84c0-.87-.72-1.57-1.61-1.57-.87 0-1.59.7-1.59 1.57v6.48c-1.29-1.55-2.29-3.03-3.05-4.32-2.21-3.68-3.55-7.91-4.02-12.18 0-.04-.01-.09-.01-.13-.11-1.04-.17-2.16-.17-3.3v-9.56h63.31c4 0 7.26 3.34 7.26 7.43-.04 3.87-2.96 7.11-6.68 7.45z" />
            </svg>
          </a>
        </div>
        <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
          <% if user_signed_in? %>
            <%= active_link_to "Your Shots", shots_path, class: "inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium focus:outline-terracotta-500", active: :exclusive, class_active: "border-terracotta-500 text-neutral-900 dark:text-neutral-200", class_inactive: "border-transparent text-neutral-500 dark:text-neutral-400 hover:text-neutral-700 dark:hover:text-neutral-300 hover:border-neutral-300" %>
            <%= active_link_to "Upload", upload_shots_path, class: "inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium focus:outline-terracotta-500", active: :exclusive, class_active: "border-terracotta-500 text-neutral-900 dark:text-neutral-200", class_inactive: "border-transparent text-neutral-500 dark:text-neutral-400 hover:text-neutral-700 dark:hover:text-neutral-300 hover:border-neutral-300" %>
            <%= active_link_to "Community", community_index_path, class: "inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium focus:outline-terracotta-500", active: :exclusive, class_active: "border-terracotta-500 text-neutral-900 dark:text-neutral-200", class_inactive: "border-transparent text-neutral-500 dark:text-neutral-400 hover:text-neutral-700 dark:hover:text-neutral-300 hover:border-neutral-300" %>
          <% else %>
            <%= active_link_to "Community", community_index_path, class: "inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium focus:outline-terracotta-500", active: :exclusive, class_active: "border-terracotta-500 text-neutral-900 dark:text-neutral-200", class_inactive: "border-transparent text-neutral-500 dark:text-neutral-400 hover:text-neutral-700 dark:hover:text-neutral-300 hover:border-neutral-300" %>
            <%= active_link_to "Updates", updates_path, class: "inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium focus:outline-terracotta-500", active: :exclusive, class_active: "border-terracotta-500 text-neutral-900 dark:text-neutral-200", class_inactive: "border-transparent text-neutral-500 dark:text-neutral-400 hover:text-neutral-700 dark:hover:text-neutral-300 hover:border-neutral-300" %>
          <% end %>
        </div>
      </div>
      <% if user_signed_in? %>
        <div class="items-center hidden sm:ml-6 sm:flex">
          <div class="relative ml-3">
            <div>
              <button type="button" class="relative flex items-center max-w-xs text-sm bg-white rounded focus:outline-none focus:ring-2 focus:ring-terracotta-500 focus:ring-offset-2 dark:ring-offset-black" data-action="click->menu#transform click@window->menu#hide" data-menu-target="button">
                <span class="absolute -inset-1.5"></span>
                <img class="w-8 h-8 rounded" src="<%= avatar_url(current_user, 64) %>">
              </button>
              <% if update_count > 0 %>
                <span class="absolute top-0 right-0 inline-block w-3 h-3 transform translate-x-1/2 -translate-y-1/2 rounded-full bg-terracotta-600"></span>
              <% end %>
            </div>
            <div class="absolute right-0 z-10 hidden w-56 mt-2 origin-top-right bg-white divide-y rounded-md shadow-lg divide-neutral-100 dark:divide-neutral-800 dark:bg-neutral-950 ring-1 ring-black ring-opacity-5 focus:outline-none" data-menu-target="transformable" data-transition-enter="transition ease-out duration-200" data-transition-enter-end="transform opacity-100 scale-100" data-transition-enter-start="transform opacity-0 scale-95" data-transition-leave="transition ease-in duration-75" data-transition-leave-end="transform opacity-0 scale-95" data-transition-leave-start="transform opacity-100 scale-100">
              <div class="px-4 py-3 text-neutral-900 dark:text-neutral-100">
                <p class="text-sm" >Signed in as</p>
                <p class="text-sm font-medium truncate">
                  <%= current_user.display_name %>
                </p>
              </div>
              <div class="py-1">
                <%= link_to "Edit Profile", edit_profiles_path, class: "block px-4 py-2 text-sm text-neutral-700 dark:text-neutral-200 bg-white dark:bg-neutral-950 hover:bg-neutral-100 dark:hover:bg-neutral-800" %>
                <% if current_user.stripe_customer_id.present? %>
                  <%= link_to "Manage Subscription", manage_premium_index_path, class: "block w-full text-left cursor-pointer px-4 py-2 text-sm text-neutral-700 dark:text-neutral-200 bg-white dark:bg-neutral-950 hover:bg-neutral-100 dark:hover:bg-neutral-800" %>
                <% end %>
                <% if !current_user.premium? %>
                  <%= link_to "Upgrade to Premium", premium_index_path, class: "block px-4 py-2 text-sm text-neutral-700 dark:text-neutral-200 bg-white dark:bg-neutral-950 hover:bg-neutral-100 dark:hover:bg-neutral-800" %>
                <% end %>
                <% if current_user.premium? && !current_user.identities.exists?(provider: "airtable") %>
                  <%= button_to "Connect Airtable", user_airtable_omniauth_authorize_path, class: "block px-4 py-2 w-full text-left text-sm text-neutral-700 dark:text-neutral-200 bg-white dark:bg-neutral-950 hover:bg-neutral-100 dark:hover:bg-neutral-800", data: {turbo: false} %>
                <% end %>
                <% if current_user.developer? %>
                  <%= link_to "OAuth Applications", oauth_applications_path, class: "block px-4 py-2 text-sm text-neutral-700 dark:text-neutral-200 bg-white dark:bg-neutral-950 hover:bg-neutral-100 dark:hover:bg-neutral-800", data: {turbo: false} %>
                <% end %>
              </div>
              <div class="py-1">
                <%= link_to updates_path, class: "block px-4 py-2 bg-white dark:bg-neutral-950 hover:bg-neutral-100 dark:hover:bg-neutral-800" do %>
                  <div class="flex">
                    <div class="text-sm grow text-neutral-700 dark:text-neutral-200">Updates</div>
                    <% if update_count > 0 %>
                      <div class="w-5 h-5 rounded-full bg-terracotta-600">
                        <div class="text-sm text-center text-white dark:text-black"><%= update_count %></div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
              <div class="py-1">
                <%= link_to "Sign Out", destroy_user_session_path, class: "block w-full text-left cursor-pointer px-4 py-2 text-sm text-neutral-700 dark:text-neutral-200 bg-white dark:bg-neutral-950 hover:bg-neutral-100 dark:hover:bg-neutral-800", data: {turbo_method: :delete} %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
          <% if controller_name != "sessions" %>
            <%= link_to "Sign In", new_user_session_path, class: "inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-transparent text-neutral-500 dark:text-neutral-400 hover:text-neutral-700 dark:hover:text-neutral-300 hover:border-neutral-300" %>
          <% end %>
          <% if controller_name != "registrations" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium border-transparent text-neutral-500 dark:text-neutral-400 hover:text-neutral-700 dark:hover:text-neutral-300 hover:border-neutral-300" %>
          <% end %>
        </div>
      <% end %>
      <div class="flex items-center -mr-2 sm:hidden">
        <button type="button" class="relative inline-flex items-center justify-center p-2 bg-white dark:bg-neutral-950 text-neutral-400 dark:text-neutral-300 hover:bg-neutral-100 dark:hover:bg-neutral-700 hover:text-neutral-500 dark:hover:text-neutral-200" data-action="click->menu#toggle">
          <span class="absolute -inset-0.5"></span>
          <svg class="block w-6 h-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-menu-target="toggleable">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <svg class="hidden w-6 h-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" data-menu-target="toggleable">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
          <% if current_user && update_count > 0 %>
            <span class="absolute top-0 right-0 inline-block w-3 h-3 transform bg-terracotta-600 rounded-full -translate-x-1 translate-y-1.5" data-menu-target="toggleable"></span>
          <% end %>
        </button>
      </div>
    </div>
  </div>
  <div class="hidden sm:hidden" data-menu-target="toggleable">
    <div class="pt-2 pb-3 space-y-1">
      <% if user_signed_in? %>
        <%= active_link_to "Your Shots", shots_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium", active: :exclusive, class_active: "border-terracotta-500 bg-terracotta-50/50 text-terracotta-700 dark:text-terracotta-100 dark:bg-terracotta-900/5", class_inactive: "border-transparent text-neutral-600 hover:border-neutral-300 hover:bg-neutral-50 hover:text-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:hover:text-neutral-300" %>
        <%= active_link_to "Upload", upload_shots_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium", active: :exclusive, class_active: "border-terracotta-500 bg-terracotta-50/50 text-terracotta-700 dark:text-terracotta-100 dark:bg-terracotta-900/5", class_inactive: "border-transparent text-neutral-600 hover:border-neutral-300 hover:bg-neutral-50 hover:text-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:hover:text-neutral-300" %>
      <% end %>
      <%= active_link_to "Community", community_index_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium", active: :exclusive, class_active: "border-terracotta-500 bg-terracotta-50/50 text-terracotta-700 dark:text-terracotta-100 dark:bg-terracotta-900/5", class_inactive: "border-transparent text-neutral-600 hover:border-neutral-300 hover:bg-neutral-50 hover:text-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:hover:text-neutral-300" %>
      <% unless user_signed_in? %>
        <%= active_link_to "Updates", updates_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium", active: :exclusive, class_active: "border-terracotta-500 bg-terracotta-50/50 text-terracotta-700 dark:text-terracotta-100 dark:bg-terracotta-900/5", class_inactive: "border-transparent text-neutral-600 hover:border-neutral-300 hover:bg-neutral-50 hover:text-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:hover:text-neutral-300" %>
      <% end %>
    </div>
    <div class="pb-3 border-t border-neutral-200 dark:border-neutral-800">
      <div class="mt-3 space-y-1">
        <%= active_link_to "Edit Profile", edit_profiles_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium", active: :exclusive, class_active: "border-terracotta-500 bg-terracotta-50/50 text-terracotta-700 dark:text-terracotta-100 dark:bg-terracotta-900/50", class_inactive: "border-transparent text-neutral-600 hover:border-neutral-300 hover:bg-neutral-50 hover:text-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:hover:text-neutral-300" %>
        <% if user_signed_in? %>
          <%= active_link_to updates_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium", active: :exclusive, class_active: "border-terracotta-500 bg-terracotta-50/50 text-terracotta-700 dark:text-terracotta-100 dark:bg-terracotta-900/50", class_inactive: "border-transparent text-neutral-600 hover:border-neutral-300 hover:bg-neutral-50 hover:text-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:hover:text-neutral-300" do %>
            <div class="flex items-center">
              <div class="grow">Updates</div>
              <% if update_count > 0 %>
                <div class="w-5 h-5 rounded-full bg-terracotta-600">
                  <div class="text-sm text-center text-white">
                    <%= update_count %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
          <% if current_user.stripe_customer_id.present? %>
            <%= link_to "Manage Subscription", manage_premium_index_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-neutral-600 hover:border-neutral-300 hover:bg-neutral-50 hover:text-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:hover:text-neutral-300" %>
          <% end %>
          <% unless current_user.premium? %>
            <%= active_link_to "Upgrade to Premium", premium_index_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium", active: :exclusive, class_active: "border-terracotta-500 bg-terracotta-50/50 text-terracotta-700 dark:text-terracotta-100 dark:bg-terracotta-900/50", class_inactive: "border-transparent text-neutral-600 hover:border-neutral-300 hover:bg-neutral-50 hover:text-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:hover:text-neutral-300" %>
          <% end %>
          <%= link_to "Sign Out", destroy_user_session_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-neutral-600 hover:border-neutral-300 hover:bg-neutral-50 hover:text-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:hover:text-neutral-300", data: {turbo_method: :delete} %>
        <% else %>
          <% if controller_name != "sessions" %>
            <%= link_to "Sign In", new_user_session_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-neutral-600 hover:border-neutral-300 hover:bg-neutral-50 hover:text-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:hover:text-neutral-300" %>
          <% end %>
          <% if controller_name != "registrations" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "block border-l-4 py-2 pl-3 pr-4 text-base font-medium border-transparent text-neutral-600 hover:border-neutral-300 hover:bg-neutral-50 hover:text-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:hover:text-neutral-300" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
