<% if @premium_count.to_i > 1 %>
  <div class="flex gap-x-6 items-center py-2.5 px-3 sm:px-3.5 xs: bg-oxford-blue-50 sm:before:flex-1 dark:bg-oxford-blue-950">
    <div class="flex flex-1 gap-y-2 gap-x-4 justify-between items-center sm:flex-auto sm:justify-center">
      <p class="text-sm leading-6 text-neutral-900 dark:text-neutral-100">
        <% if defined?(count) %>
          <span class="sm:hidden"><strong class="font-semibold"><%= number_to_human(count).downcase %> shots are hidden</strong></span>
          <span class="hidden sm:inline-block md:hidden"><strong class="font-semibold"><%= number_to_human(count).downcase %> shots are hidden</strong></span>
          <span class="hidden md:inline-block lg:hidden"><strong class="font-semibold"><%= number_to_human(count).downcase %> old shots are hidden.</strong> Start your <%= free_trial_days %>-day free trial to see them all.</span>
          <span class="hidden lg:inline-block"><strong class="font-semibold"><%= number_to_human(count).downcase %> shots uploaded over a month ago are hidden.</strong> Start your <%= free_trial_days %>-day free trial to see them all.</span>
        <% else %>
          <span class="md:hidden"><strong class="font-semibold">Old shots are hidden</strong></span>
          <span class="hidden md:inline-block lg:hidden"><strong class="font-semibold">Old shots are hidden.</strong> Start your <%= free_trial_days %>-day free trial to see them all.</span>
          <span class="hidden lg:inline-block"><strong class="font-semibold">Shots uploaded over a month ago are hidden.</strong> Start your <%= free_trial_days %>-day free trial to see them all.</span>
        <% end %>
      </p>
      <%= link_to premium_index_path, class: "flex-none rounded-full bg-oxford-blue-600 px-3.5 py-1 text-sm font-semibold text-white shadow-sm hover:bg-oxford-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-oxford-blue-800" do %>
        <span>Learn more &rarr;</span>
      <% end %>
    </div>
    <div class="hidden flex-1 justify-end sm:flex"></div>
  </div>
<% end %>
