<div class="max-w-2xl pt-24 pb-12 mx-auto sm:pt-32 sm:pb-16">
  <div class="text-center">
    <h1 class="font-serif text-4xl font-bold tracking-tight text-neutral-900 dark:text-neutral-100 text sm:text-6xl">
      Unleash the True Potential of Your Coffee
    </h1>
    <p class="mt-6 text-lg leading-8 text-neutral-600 dark:text-neutral-300">
      Elevate your coffee experience by joining our vibrant community of coffee enthusiasts.
      Upload, track, analyze, and perfect your espresso or filter coffee shots with ease.
    </p>
    <div class="flex items-center justify-center mt-10 gap-x-6">
      <% path = user_signed_in? ? shots_path : new_user_registration_path %>
      <%= link_to "Get started", path, class: "submit-button px-3.5 py-2.5" %>
    </div>
  </div>
</div>
<div class="max-w-5xl px-6 mx-auto lg:px-8">
  <div class="aspect-w-16 aspect-h-9">
    <iframe src="https://www.youtube-nocookie.com/embed/7JPgoQLHvss" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
<div class="py-12 sm:py-16">
  <div class="px-6 mx-auto max-w-7xl lg:px-8">
    <div class="max-w-2xl mx-auto lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-terracotta-600 dark:text-terracotta-400">Coffee meet Cloud</h2>
      <p class="mt-4 font-serif text-5xl font-bold tracking-tight text-neutral-900 dark:text-neutral-300">Improve Your Coffee</p>
      <p class="mt-6 text-lg leading-8 text-neutral-600 dark:text-neutral-300">
        Visualizer.coffee offers essential tools and a supportive community to help you explore, perfect, and enjoy your coffee like never before.
      </p>
    </div>
    <div class="max-w-2xl mx-auto mt-16 sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="max-w-xl grid grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
          <dt class="font-serif text-xl font-bold leading-7 text-neutral-900 dark:text-neutral-300">
            <div class="absolute top-0 left-0 flex items-center justify-center w-10 h-10 rounded-lg bg-terracotta-600">
              <svg class="w-6 h-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z" />
              </svg>
            </div>
            Broad Compatibility & Integration
          </dt>
          <dd class="mt-2 text-base leading-7 text-neutral-600 dark:text-neutral-300">
            Visualizer was designed to work seamlessly with <a href="https://decentespresso.com/" class="underline hover:no-underline" target="_blank">Decent espresso machines</a>.
            Recently, it has expanded its compatibility to support <a href="https://www.naked-portafilter.com/product-category/smart-espresso-profiler/" class="underline hover:no-underline" target="_blank">Smart Espresso Profiler</a>, <a href="https://pressensor.com/" class="underline hover:no-underline" target="_blank">Pressensor</a> and <a href="https://beanconqueror.com/" class="underline hover:no-underline" target="_blank">Beanconqueror</a>.
            This provides a streamlined experience that caters to a diverse range of coffee enthusiasts, accommodating their preferred devices.
          </dd>
        </div>
        <div class="relative pl-16">
          <dt class="font-serif text-xl font-bold leading-7 text-neutral-900 dark:text-neutral-300">
            <div class="absolute top-0 left-0 flex items-center justify-center w-10 h-10 rounded-lg bg-terracotta-600">
              <svg class="w-6 h-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3v11.25A2.25 2.25 0 006 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0118 16.5h-2.25m-7.5 0h7.5m-7.5 0l-1 3m8.5-3l1 3m0 0l.5 1.5m-.5-1.5h-9.5m0 0l-.5 1.5m.75-9l3-3 2.148 2.148A12.061 12.061 0 0116.5 7.605" />
              </svg>
            </div>
            Comprehensive Data Analysis
          </dt>
          <dd class="mt-2 text-base leading-7 text-neutral-600 dark:text-neutral-300">
            Visualizer provides a deep dive into your coffee shots with user-friendly charts and robust comparison tools.
            <%= link_to "Premium", premium_index_path, class: "underline hover:no-underline", target: "_blank" %> users gain access to advanced customization options and a treasure trove of community-generated data to fuel their pursuit of coffee excellence.
          </dd>
        </div>
        <div class="relative pl-16">
          <dt class="font-serif text-xl font-bold leading-7 text-neutral-900 dark:text-neutral-300">
            <div class="absolute top-0 left-0 flex items-center justify-center w-10 h-10 rounded-lg bg-terracotta-600">
              <svg class="w-6 h-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z" />
              </svg>
            </div>
            Connect with a Passionate Community
          </dt>
          <dd class="mt-2 text-base leading-7 text-neutral-600 dark:text-neutral-300">
            Immerse yourself in a global network of over <%= number_with_delimiter(@user_count) %> coffee aficionados who upload shots daily.
            Engage with fellow coffee enthusiasts, exchange insights, and collaborate in the collective quest for the ultimate coffee.
          </dd>
        </div>
        <div class="relative pl-16">
          <dt class="font-serif text-xl font-bold leading-7 text-neutral-900 dark:text-neutral-300">
            <div class="absolute top-0 left-0 flex items-center justify-center w-10 h-10 rounded-lg bg-terracotta-600">
              <svg class="w-6 h-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 7.756a4.5 4.5 0 100 8.488M7.5 10.5h5.25m-5.25 3h5.25M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </div>
            Flexible Pricing with Exclusive Benefits
          </dt>
          <dd class="mt-2 text-base leading-7 text-neutral-600 dark:text-neutral-300">
            Access Visualizer for free with a month of saved shots or upgrade to <%= link_to "Premium plan", premium_index_path, class: "underline hover:no-underline", target: "_blank" %> at €5/month for an even richer experience.
            Discover the full range of premium features with a 7-day free trial, and take your coffee journey to new heights.
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
<div class="py-12 sm:py-16">
  <div class="px-6 mx-auto max-w-7xl lg:px-8">
    <div class="max-w-2xl mx-auto overflow-hidden grid grid-cols-1 gap-8 lg:mx-0 lg:max-w-none lg:grid-cols-4">
      <div>
        <time datetime="2020-11" class="flex items-center font-serif font-semibold leading-6 text-terracotta-600 dark:text-terracotta-500">
          <svg viewBox="0 0 4 4" class="flex-none w-1 h-1 mr-4">
            <circle cx="2" cy="2" r="2" fill="currentColor" />
          </svg>
          Nov 2020
          <div class="absolute w-screen h-px -ml-2 -translate-x-full bg-neutral-900/10 dark:bg-neutral-100/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0"></div>
        </time>
        <p class="mt-6 font-serif text-xl font-bold tracking-tight leading-8 text-neutral-900 dark:text-neutral-300">
          <a href="https://public.3.basecamp.com/p/3bpv4ybEVekQVXy7Ud9vW6n1" class="underline hover:no-underline" target="_blank">
            First commit
          </a>
        </p>
        <p class="mt-1 text-base leading-7 text-neutral-600 dark:text-neutral-300">
          Just hours after unboxing a Decent espresso machine in November 2020, the first iteration was created and shared with the community.
        </p>
      </div>
      <div>
        <time datetime="2021-01" class="flex items-center font-serif font-semibold leading-6 text-terracotta-600 dark:text-terracotta-500">
          <svg viewBox="0 0 4 4" class="flex-none w-1 h-1 mr-4">
            <circle cx="2" cy="2" r="2" fill="currentColor" />
          </svg>
          Jan 2021
          <div class="absolute w-screen h-px -ml-2 -translate-x-full bg-neutral-900/10 dark:bg-neutral-100/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0"></div>
        </time>
        <p class="mt-6 font-serif text-xl font-bold tracking-tight leading-8 text-neutral-900 dark:text-neutral-300">
          <a href="https://public.3.basecamp.com/p/y8keyN8VrToTNwXw84ZvC2p1" class="underline hover:no-underline" target="_blank">
            Visualizer v2
          </a>
        </p>
        <p class="mt-1 text-base leading-7 text-neutral-600 dark:text-neutral-300">
          A massive overhaul that transformed the platform into a more dynamic and user-friendly tool.
          Visualizer quickly gained popularity, amassing over 100 users and 4,000 shots within just two months.
          The redesigned interface offered an improved experience on both desktop and mobile devices.
        </p>
      </div>
      <div>
        <time datetime="2022-01" class="flex items-center font-serif font-semibold leading-6 text-terracotta-600 dark:text-terracotta-500">
          <svg viewBox="0 0 4 4" class="flex-none w-1 h-1 mr-4">
            <circle cx="2" cy="2" r="2" fill="currentColor" />
          </svg>
          Jan 2022
          <div class="absolute w-screen h-px -ml-2 -translate-x-full bg-neutral-900/10 dark:bg-neutral-100/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0"></div>
        </time>
        <p class="mt-6 font-serif text-xl font-bold tracking-tight leading-8 text-neutral-900 dark:text-neutral-300">
          <a href="https://visualizer.coffee/changes/visualizer-v3" class="underline hover:no-underline" target="_blank">
            Switching to SaaS
          </a>
        </p>
        <p class="mt-1 text-base leading-7 text-neutral-600 dark:text-neutral-300">
          Due to the platform's substantial growth, Visualizer transitioned from a sponsorship model to a freemium subscription model.
          The goal was to cover hosting costs and expand development of new features.
        </p>
      </div>
      <div>
        <time datetime="2023-03" class="flex items-center font-serif font-semibold leading-6 text-terracotta-600 dark:text-terracotta-500">
          <svg viewBox="0 0 4 4" class="flex-none w-1 h-1 mr-4">
            <circle cx="2" cy="2" r="2" fill="currentColor" />
          </svg>
          Mar 2023
          <div class="absolute w-screen h-px -ml-2 -translate-x-full bg-neutral-900/10 dark:bg-neutral-100/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0"></div>
        </time>
        <p class="mt-6 font-serif text-xl font-bold tracking-tight leading-8 text-neutral-900 dark:text-neutral-300">
          <a href="https://visualizer.coffee/changes/1-million" class="underline hover:no-underline" target="_blank">
            1 Million Shots
          </a>
        </p>
        <p class="mt-1 text-base leading-7 text-neutral-600 dark:text-neutral-300">
          Visualizer reached an impressive mileneutral of 1 million uploaded shots.
          The platform introduced preliminary support for Beanconqueror, Pressensor, and Smart Espresso Profiler files, marking the beginning of an exhilarating journey.
          As Visualizer expands beyond the Decent coffee community, it aims to engage a broader audience of devoted coffee enthusiasts, promising a future filled with innovation and excitement.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="py-12 sm:py-16">
  <div class="px-6 pb-16 mx-auto max-w-7xl lg:px-8">
    <div class="max-w-2xl mx-auto text-center">
      <h2 class="font-serif text-3xl font-bold tracking-tight text-neutral-900 dark:text-neutral-300 sm:text-4xl">From the blog</h2>
    </div>
  </div>
  <div class="px-6 mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-12 sm:gap-y-16 lg:grid-cols-2 lg:px-8">
    <article class="w-full max-w-2xl mx-auto lg:mx-0 lg:max-w-lg">
      <time datetime="<%= @last_change.published_at.strftime("%Y-%m-%d") %>" class="block text-sm leading-6 text-neutral-600 dark:text-neutral-300">
        <%= @last_change.published_at.strftime("%b %d, %Y") %>
      </time>
      <h2 id="featured-post" class="mt-4 ">
        <%= link_to @last_change.title, change_path(@last_change.slug.presence || @last_change.id), class: "text-3xl font-serif font-bold tracking-tight text-neutral-900 dark:text-neutral-300 sm:text-4xl hover:text-neutral-500 dark:hover:text-neutral-400", target: "_blank" %>
      </h2>
      <p class="mt-4 text-lg leading-8 text-neutral-600 dark:text-neutral-300">
        <%= @last_change.excerpt %>
      </p>
      <div class="flex flex-col justify-between mt-4 gap-6 sm:mt-8 sm:flex-row-reverse sm:gap-8 lg:mt-4 lg:flex-col">
        <div class="flex">
          <%= link_to "Continue reading →", change_path(@last_change.slug.presence || @last_change.id), class: "text-sm font-semibold leading-6 text-terracotta-600 dark:text-terracotta-500 hover:text-terracotta-500 dark:hover:text-terracotta-400", target: "_blank" %>
        </div>
      </div>
    </article>
    <div class="w-full max-w-2xl pt-12 mx-auto border-t border-neutral-900/10 sm:pt-16 lg:mx-0 lg:max-w-none lg:border-t-0 lg:pt-0">
      <div class="-my-12 divide-y divide-neutral-900/10">
        <% @changes.each do |change| %>
          <article class="py-12">
            <div class="relative max-w-xl group">
              <time datetime="<%= change.published_at.strftime("%Y-%m-%d") %>" class="block text-sm leading-6 text-neutral-600 dark:text-neutral-300">
                <%= change.published_at.strftime("%b %d, %Y") %>
              </time>
              <h2 class="mt-2 font-serif text-xl font-semibold text-neutral-900 text dark:text-neutral-300 group-hover:text-neutral-400">
                <%= link_to change_path(change.slug.presence || change.id), target: "_blank" do %>
                  <span class="absolute inset-0"></span>
                  <%= change.title %>
                <% end %>
              </h2>
              <p class="mt-4 text-sm leading-6 text-neutral-600 dark:text-neutral-300">
                <%= change.excerpt %>
              </p>
            </div>
          </article>
        <% end %>
      </div>
    </div>
  </div>
</div>
