<tr class="even:bg-gray-50 has-[.top-spender]:bg-green-50" id="<%= dom_id subscription %>">
  <td class="py-4 pl-4 pr-3 text-sm text-gray-900 whitespace-nowrap sm:pl-3">
    <% if subscription.user %>
      <span class="font-medium<%= " top-spender" if (@payments[subscription.user.stripe_customer_id].presence || 0) >= 130 %>">
        <%= subscription.user.display_name %>
      </span>
      <br>
      <%= link_to subscription.user.stripe_customer_id, "https://dashboard.stripe.com/customers/#{subscription.user.stripe_customer_id}", class: "underline hover:no-underline" %>
      (<%= @payments[subscription.user.stripe_customer_id] %>)
    <% end %>
  </td>
  <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
    <%= subscription.status %>
  </td>
  <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap"><%= subscription.interval %></td>
  <td class="px-3 py-4 text-sm text-gray-500 whitespace-nowrap">
    <%= subscription.started_at %>
    <br>
    <%= link_to subscription.stripe_id, "https://dashboard.stripe.com/subscriptions/#{subscription.stripe_id}", class: "underline hover:no-underline" %>
  </td>
  <td class="px-3 py-4 text-sm text-gray-500">
    <% if subscription.ended_at %>
      Ended <%= subscription.ended_at %>
      <br>
    <% end %>
    <% if subscription.cancelled_at %>
      Cancelled <%= subscription.cancelled_at %>
      <br>
    <% end %>
    <% if subscription.cancel_at %>
      Cancel at <%= subscription.cancel_at %>
      <br>
    <% end %>
    <% if subscription.cancellation_details %>
      <br>
      <% subscription.cancellation_details.each do |key, value| %>
        <% next unless value.present? %>
        <%= key.humanize %>: <%= value %>
        <br>
      <% end %>
      <br>
    <% end %>
  </td>
  <td class="relative py-4 pl-3 pr-4 text-sm font-medium text-right whitespace-nowrap sm:pr-3">
  </td>
</tr>
