<article>
  <a href="<%= update_path(update.slug.presence || update.id) %>">
    <h2 class="mb-2 font-serif text-4xl font-bold sm:text-center sm:mb-6 sm:text-5xl text-neutral-900 dark:text-neutral-100">
      <%= update.title %>
    </h2>
  </a>
  <div class="mx-auto max-w-prose">
    <div class="flex justify-between mb-2 text-xs">
      <time datetime="<%= update.published_at.iso8601 %>" class="flex text-neutral-400">
        <span class="h-4 w-0.5 rounded-full bg-neutral-200 dark:bg-neutral-500"></span>
        <span class="ml-2"><%= update.published_at.strftime('%B %-d, %Y') %></span>
      </time>
      <%= link_to "Edit", edit_update_path(update) if current_user&.admin %>
    </div>
    <%= markdown_text_from(update.body) %>
  </div>
</article>
