<% content_for(:html_title) { "Visualizer | #{@update.title}" } %>
<% content_for(:head) do %>
  <meta name="description" content="<%= @update.excerpt %>">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:title" content="<%= @update.title %>">
  <% if @update.image.attached? %>
    <meta property="og:image" content="<%= public_image_url(@update.image.variant(:social)).html_safe %>">
    <meta property="og:url" content="https://visualizer.coffee/updates/<%= @update.slug %>">
    <meta property="og:description" content="<%= @update.excerpt %>">
  <% end %>
<% end %>
<div class="max-w-3xl px-4 pt-12 pb-6 mx-auto sm:px-6">
  <%= render @update %>
</div>
