<div class=" mt-5 md:mt-0 md:col-span-2">
  <%= form_with(model: changelog) do |form| %>
    <div class="shadow sm:rounded-md sm:overflow-hidden" id=dom_id(changelog)>
      <div class="px-4 py-5 bg-white dark:bg-gray-800 space-y-6 sm:p-6">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-6">
            <%= form.label :title, class: "standard-label" %>
            <%= form.text_field :title, class: "standard-input" %>
          </div>
          <div class="col-span-6">
            <%= form.label :body, class: "standard-label" %>
            <div class="mt-1">
              <%= form.text_area :body, rows: 30, class: "shadow-sm font-mono focus:ring-green-500 focus:border-green-500 mt-1 block w-full sm:text-sm border-gray-300 rounded-md dark:bg-gray-800" %>
            </div>
          </div>
          <div class="col-span-6">
            <%= form.label :published_at, class: "standard-label" %>
            <%= form.date_field :published_at, class: "standard-input" %>
          </div>
        </div>
      </div>
      <div class=" px-4 py-3 bg-gray-50 dark:bg-gray-700 text-right sm:px-6">
        <%= form.submit "Save", class: "cursor-pointer inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500" %>
      </div>
    </div>
  <% end %>
</div>
