<!DOCTYPE html>
<html class="h-full" data-environment="<%= Rails.env %>">
  <head>
    <title><%= content_for?(:html_title) ? yield(:html_title) : "Visualizer" %></title>
    <meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta content="#ffffff" media="(prefers-color-scheme: light)" name="theme-color">
    <meta content="#171717" media="(prefers-color-scheme: dark)" name="theme-color">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link color="#000000" href="/safari-pinned-tab.svg" rel="mask-icon">
    <link href="/favicon.ico" rel="shortcut icon">
    <%= stylesheet_link_tag "tailwind", "hljs", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="flex flex-col h-full overflow-y-scroll <%= @skin %>" data-controller="local-time">
    <header><%= render "shared/header" %></header>
    <main class="dark:text-white grow dark:bg-neutral-900">
      <%= render "shared/notifications" %>
      <%= yield %>
    </main>
    <footer>
      <%= inline_svg_tag "logo-bars-clip.svg", class: "size-0" %>
      <%= render "shared/footer" %>
    </footer>
  </body>
</html>
